<h1><%= method %></h1>
<%= simple_form_for(@cluster, url: url, method: method, html: { multipart: true }) do |f| %>
  <%= f.input :image, as: :file, input_html: { name: 'image' } %>
  <%= f.input :name, input_html: { name: 'name' }  %>
  <%= f.input :category_id, collection: @categories, input_html: {name: 'category_id'} %>
  <%= f.input :description, input_html: { name: 'description' } %>
  <%= f.input :requester_id, collection: @user, input_html: { name: 'requester_id' } %>
  <%= f.input :status, input_html: { name: 'status' } %>
  <%= f.submit %>
<% end %>
