<div class="d-flex main-wrapper">
  <%= render("components/sidebar") %>
  <div class="main-wrapper">
    <main class="main col-md-10 offset-md-2" role="main">
      <header class="header" role="banner">
        <div class="tabs">
          <ul class="nav nav-pills">
            <li class="active"><a href="#all" data-toggle="tab">Semua</a>
            </li>
            <li><a href="#category" data-toggle="tab">Kategori Cluster</a>
            </li>
            <li><a href="#trash" data-toggle="tab">Sampah</a>
            </li>
          </ul>
        </div>
        <%= render("components/dropdown_profile") %>
      </header>
      <div class="tab-content clearfix">
        <div class="main-content tab-pane active" id="all">
          <div class="top ">

            <% link = pagy_link_proc(@pagy_cluster) %>
            <div class="pagination-wrap">
              <ul class="pagination">
                <% if @pagy_cluster.prev %>
                <li class="page-item">
                  <%== link.call(@pagy_cluster.prev, pagy_t('pagy.nav.prev')) %>
                </li>
                <% else  %>
                <li class="page-item disabled">
                  <%== link.call(@pagy_cluster.prev, pagy_t('pagy.nav.prev')) %>
                </li>
                <% end %>

                <% @pagy_cluster.series.each do |item| %>
                <% if item.is_a?(Integer) %>
                <li id="testtest" class="page-item">
                  <%== link.call(item) %>
                </li>
                <% elsif item.is_a?(String) %>
                <li class="page-item active" aria-current="page">
                  <%== link.call(item) %>
                </li>
                <% elsif item == :gap %>
                <li class="page-item disabled gap"><a href="#" class="page-link">
                    <%== pagy_t('pagy.nav.gap') %></a></li>
                <% end %>
                <% end %>

                <% if @pagy_cluster.next %>
                <li class="page-item">
                  <%== link.call(@pagy_cluster.next, pagy_t('pagy.nav.next')) %>
                </li>
                <% else %>
                <li class="page-item disabled">
                  <%== link.call(@pagy_cluster.next, pagy_t('pagy.nav.next')) %>
                </li>
                <% end %>
              </ul>
            </div>

            <div class="modal-wrap">
                <button type="button" class="btn btn-green" data-toggle="modal" data-target="#exampleModal">
                  Buat Cluster <img src="<%= asset_pack_path("views/assets/images/ic_create-admin.svg") %>"  alt="add">
                </button>
  
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <!-- <h5 class="modal-title" id="exampleModalLabel">Tambah Admin</h5> -->
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>

                      <%= simple_form_for(@cluster, url: clusters_path, method: :post, html: { multipart: true }) do |f| %>  
                        <div class="modal-body">
                          <h3>Tambah Cluster</h3>
                          <div class="form-wrap">
                            <label>Upload Image</label>
                            <div class="form-group">
                              <div class="upload-image">
                                <div class="custom-button">
                                  <label class="upload-img" for="file-input">
                                    <img src="<%= asset_pack_path("views/assets/images/ic_img.svg") %>" alt="add">
                                  </label>
                                  <%= f.input :image, as: :file, input_html: { name: 'image', id: 'file-input' } %>
                                </div>
                                  <span>
                                    <p>Upload PNG/JPG</p>
                                    <p>Maks 512x512</p>
                                  </span>
                                </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6 col-xs-12">
                              <div class="form-wrap">
                                <label>Nama Cluster</label>
                                <div class="form-group">
                                  <div class="form-group">
                                    <input type="Cluster" name="name" class="form-control" placeholder="Nama Cluster">
                                    </div>
                                </div>
                              </div>
                              <div class="form-wrap">
                                <label>Deskripsi</label>
                                <div class="form-group">
                                  <div class="form-group">
                                    <textarea type="text" name="description" class="form-control" placeholder="adellapratitas7@gmail.com"></textarea>
                                  </div>
                                </div>
                              </div>
    
                              <div class="form-wrap">
                                <label>Akses Dashboard</label>
                                <div class="form-group">
                                  <ul>
                                    <li>
                                      <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="value1">
                                      <label for="styled-checkbox-1">User Anggota</label>
                                    </li>
                                    <li>
                                      <input class="styled-checkbox" id="styled-checkbox-2" type="checkbox" value="value1">
                                      <label for="styled-checkbox-2">Janji Politik</label>
                                    </li>
                                    <li>
                                      <input class="styled-checkbox" id="styled-checkbox-3" type="checkbox" value="value1">
                                      <label for="styled-checkbox-3">Lapor</label>
                                    </li>
                                    <li>
                                      <input class="styled-checkbox" id="styled-checkbox-4" type="checkbox" value="value1">
                                      <label for="styled-checkbox-4">Perhitungan</label>
                                    </li>
                                  </ul>
                                </div>
                              </div>
    
                            </div>
                              <div class="col-md-6 col-xs-12">
                                <div class="form-wrap">
                                  <label>Kategori</label>
                                  <div class="form-group">
                                    <div class="form-group">
                                      <select class="form-control" name="category_id" >
                                        <%= @categories.each do |c| %>
                                          <option value="<%= c["id"] %>"><%= c["name"] %></option>
                                        <% end %>
                                      </select>
                                    </div>
                                  </div>
                                </div>
    
                                <div class="form-wrap">
                                  <label>Admin</label>
                                  <div class="form-group">
                                    <div class="form-group">
                                      <input type="text" name="requester_id" class="form-control" placeholder="adellapratitas7@gmail.com">
                                    </div>
                                  </div>
                                </div>
                                <input type="hidden" name="status" value="requested">
                                
                              </div>
                            </div>
      
                          </div>
                        <div class="modal-footer">
                          <button type="button" onclick="document.getElementById('new_api_auth_cluster').submit()" class="btn btn-solid-green" data-dismiss="modal">Tambah</button>
                          <button type="button" class="btn btn-transparent" data-dismiss="modal">Cancel</button>
                        </div>
                      <% end %>

                    </div>
                  </div>
                </div>
              </div>

          </div>
          <div class="content">
            <span class="display-desc">
              <p>
                Displaying Content 1 - 30 of 500 in total
              </p>
            </span>
            <div class="table">
              <table>
                <thead>
                  <tr>
                    <th>No</th>
                    <th>Nama</th>
                    <th>Admin</th>
                    <th>Kategori</th>
                    <th>Create At</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% @clusters.each_with_index do |item, index| %>
                  <tr>
                    <td class="number bold">
                      <%= ((params[:page_cluster].present? ? params[:page_cluster].to_i : 1) - 1) * Pagy::VARS[:items].to_i + index + 1 %>
                    </td>
                    <td class="name bold"><a href="<%= cluster_path(item["id"]) %>">
                        <img src="<%= item["image"].present? ? item["image"]["thumbnail"]["url"] : "" %>">
                        <%= item["name"] %></a></td>
                    <td class="name bold">
                      <%= item["requester"]["full_name"] %>
                    </td>
                    <td>
                      <%= item["category"]["name"] %>
                    </td>
                    <td>21/10/2023</td>
                    <td>
                      <button class="dropdown-toggle" type="button" id="dropdown-active" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <img src="<%= asset_pack_path("views/assets/images/ic_action.svg") %>">
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdown-active">
                        <a class="dropdown-item" href="<%= cluster_path(item["id"]) %>">Lihat</a>
                        <%= link_to "Hapus", cluster_path(item["id"]), method: :delete, class: "dropdown-item" %>
                      </div>
                    </td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>

            <%= form_tag(clusters_path, method: :get) do %>
            <div class="filter">
              <a class="btn " data-toggle="collapse" href="#filter" role="button" aria-expanded="false" aria-controls="collapseExample">
                <img src="<%= asset_pack_path("views/assets/images/ic_arrow-left.svg") %>" >
                <img src="<%= asset_pack_path("views/assets/images/ic_filter.svg") %>">
              </a>
              <div class="collapse filter-form" id="filter">
                <div class="card card-body">
                  <h4>Filter</h4>
                  <div class="filter-wrap">
                    <div class="form-wrap">
                      <label>Status</label>
                      <div class="form-group">
                        <select class="form-control" name="status">
                          <option value="approved">Approved</option>
                          <option value="requested">Requested</option>
                          <option value="rejected">Rejected</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-wrap">
                      <label>Admin</label>
                      <div class="form-group">
                        <div class="form-group">
                          <input name="q" value="<%= params[:q] %>" type="nama" class="form-control" placeholder="Nama">
                        </div>
                      </div>
                    </div>
                    <input type="hidden" name="filter_by" value="category_id">
                    <div class="form-group">
                      <label>Category</label>
                      <select id="select-filter" class="form-control" name="filter_value" data-placeholder="Jenjang Organisasi"
                        data-url="<%= request.base_url + search_categories_clusters_path %>">
                        <option></option>
                        <% @categories.each do |c| %>
                        <option value="<%= c[" id"] %>">
                          <%= c["name"] %>
                        </option>
                        <% end %>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="button-wrapper">
                  <button type="submit" class="btn btn-solid-green" data-dismiss="modal">Done</button>
                  <button type="button" class="btn btn-transparent">Reset</button>
                </div>
              </div>
            </div>
            <% end %>

          </div>
        </div>

        <div class="main-content tab-pane" id="category">
          <div class="top">
            <% link = pagy_link_proc(@pagy_categories) %>
            <div class="pagination-wrap">
              <ul class="pagination">
                <% if @pagy_categories.prev %>
                <li class="page-item">
                  <%== link.call(@pagy_categories.prev, pagy_t('pagy.nav.prev')) %>
                </li>
                <% else  %>
                <li class="page-item disabled">
                  <%== link.call(@pagy_categories.prev, pagy_t('pagy.nav.prev')) %>
                </li>
                <% end %>

                <% @pagy_categories.series.each do |item| %>
                <% if item.is_a?(Integer) %>
                <li id="testtest" class="page-item">
                  <%== link.call(item) %>
                </li>
                <% elsif item.is_a?(String) %>
                <li class="page-item active" aria-current="page">
                  <%== link.call(item) %>
                </li>
                <% elsif item == :gap %>
                <li class="page-item disabled gap"><a href="#" class="page-link">
                    <%== pagy_t('pagy.nav.gap') %></a></li>
                <% end %>
                <% end %>

                <% if @pagy_categories.next %>
                <li class="page-item">
                  <%== link.call(@pagy_categories.next, pagy_t('pagy.nav.next')) %>
                </li>
                <% else %>
                <li class="page-item disabled">
                  <%== link.call(@pagy_categories.next, pagy_t('pagy.nav.next')) %>
                </li>
                <% end %>
              </ul>
            </div>

            <div class="modal-wrap">
              <button type="button" class="btn btn-green" data-toggle="modal" data-target="#categoryClusterModal">
                Create Kategori Cluster <img src="<%= asset_pack_path("views/assets/images/ic_create-admin.svg") %>"
                alt="add">
              </button>

              <div class="modal fade" id="categoryClusterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <!-- <h5 class="modal-title" id="exampleModalLabel">Tambah Admin</h5> -->
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>

                    <%= form_tag(create_category_clusters_path, method: :post, id: "new_category") do %>
                      <div class="modal-body">
                        <h3>Tambah Kategori Cluster</h3>
                        <div class="row">
                          <div class="col-md-6 col-xs-12">

                            <div class="form-wrap">
                              <label>Kategori Cluster</label>
                              <div class="form-group">
                                <div class="form-group">
                                  <input type="Cluster" name="name" class="form-control" placeholder="Nama Cluster">
                                </div>
                              </div>
                            </div>
                            <div class="form-wrap">
                              <label>Deskripsi</label>
                              <div class="form-group">
                                <div class="form-group">
                                  <textarea type="text" name="description" class="form-control" placeholder="adellapratitas7@gmail.com"></textarea>
                                  <div class="toolbar-text full">
                                    <ul>
                                      <li><span class="icon"><img src="<%= asset_pack_path("views/assets/images/ic_bold.svg")
                                            %>"></span></li>
                                      <li><span class="icon"><img src="<%= asset_pack_path("views/assets/images/ic_italic.svg")
                                            %>"></span></li>
                                      <li><span class="icon"><img src="<%= asset_pack_path("views/assets/images/ic_create-admin.svg")
                                            %>"></span></li>
                                      <li><span class="icon"><img src="<%= asset_pack_path("views/assets/images/ic_create-admin.svg")
                                            %>"></span></li>
                                      <li><span class="icon"><img src="<%= asset_pack_path("views/assets/images/ic_create-admin.svg")
                                            %>"></span></li>
                                      <li><span class="icon"><img src="<%= asset_pack_path("views/assets/images/ic_create-admin.svg")
                                            %>"></span></li>
                                      <li><span class="icon"><img src="<%= asset_pack_path("views/assets/images/ic_create-admin.svg")
                                            %>"></span></li>
                                      <li><span class="icon"><img src="<%= asset_pack_path("views/assets/images/ic_create-admin.svg")
                                            %>"></span></li>
                                      <li><span class="icon"><img src="<%= asset_pack_path("views/assets/images/ic_create-admin.svg")
                                            %>"></span></li>
                                      <li><span class="icon"><img src="<%= asset_pack_path("views/assets/images/ic_create-admin.svg")
                                            %>"></span></li>
                                      <li><span class="icon"><img src="<%= asset_pack_path("views/assets/images/ic_create-admin.svg")
                                            %>"></span></li>
                                      <li><span class="icon"><img src="<%= asset_pack_path("views/assets/images/ic_create-admin.svg")
                                            %>"></span></li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>

                          </div>

                        </div>

                      </div>
                      <div class="modal-footer">
                        <button type="button" onclick="document.getElementById('new_category').submit()" class="btn btn-solid-green" data-dismiss="modal">Tambah</button>
                        <button type="button" class="btn btn-transparent" data-dismiss="modal">Cancel</button>
                      </div>
                    <% end %>

                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="content">
            <span class="display-desc">
              <p>
                Displaying Content 1 - 30 of 500 in total
              </p>
            </span>
            <div class="table">
              <table>
                <thead>
                  <tr>
                    <th>No</th>
                    <th>Nama</th>
                    <th>Deskripsi</th>
                    <th>Oleh</th>
                    <th>Create At</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% @list_categories.each_with_index do |item, index| %>
                  <tr>
                    <td class="number bold">
                      <%= ((params[:page_cat].present? ? params[:page_cat].to_i : 1) - 1) * Pagy::VARS[:items].to_i + index + 1 %>
                    </td>
                    <td class="name bold"><a href="<%= detail_category_clusters_path(item["id"]) %>">
                        <%= item["name"] %></a></td>
                    <td>Anak-anak muda dari dunia industri kreatif di Banda Aceh.</td>
                    <td>Nurlela Ahmad</td>
                    <td>21/10/23</td>
                    <td>
                      <button class="dropdown-toggle" type="button" id="action" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <img src="<%= asset_pack_path("views/assets/images/ic_action.svg") %>">
                      </button>
                      <div class="dropdown-menu" aria-labelledby="action">
                        <a class="dropdown-item" href="<%= detail_category_clusters_path(item["id"]) %>">Lihat</a>
                        <a class="dropdown-item" href="<%= edit_category_clusters_path(item["id"]) %>">Edit</a>
                        <a class="dropdown-item" href="#">Hapus</a>
                      </div>
                    </td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
            <div class="filter">
              <a class="btn " data-toggle="collapse" href="#filter2" role="button" aria-expanded="false" aria-controls="collapseExample">
                <img src="<%= asset_pack_path("views/assets/images/ic_arrow-left.svg") %>">
                <img src="<%= asset_pack_path("views/assets/images/ic_filter.svg") %>">
              </a>
              <div class="collapse filter-form" id="filter2">
                <div class="card card-body">
                  <h4>Filter</h4>
                  <div class="filter-wrap">
                    <div class="form-wrap">
                      <label>Nama Cluster</label>
                      <div class="form-group">
                        <div class="form-group">
                          <input type="nama" class="form-control" placeholder="UGM">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="button-wrapper">
                  <button type="button" class="btn btn-solid-green" data-dismiss="modal">Done</button>
                  <button type="button" class="btn btn-transparent">Reset</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="main-content tab-pane" id="trash">
          <div class="top ">
            
              <% link = pagy_link_proc(@pagy_trash) %>
              <div class="pagination-wrap">
                <ul class="pagination">
                  <% if @pagy_trash.prev %>
                  <li class="page-item">
                    <%== link.call(@pagy_trash.prev, pagy_t('pagy.nav.prev')) %>
                  </li>
                  <% else  %>
                  <li class="page-item disabled">
                    <%== link.call(@pagy_trash.prev, pagy_t('pagy.nav.prev')) %>
                  </li>
                  <% end %>
  
                  <% @pagy_trash.series.each do |item| %>
                  <% if item.is_a?(Integer) %>
                  <li id="testtest" class="page-item">
                    <%== link.call(item) %>
                  </li>
                  <% elsif item.is_a?(String) %>
                  <li class="page-item active" aria-current="page">
                    <%== link.call(item) %>
                  </li>
                  <% elsif item == :gap %>
                  <li class="page-item disabled gap"><a href="#" class="page-link">
                      <%== pagy_t('pagy.nav.gap') %></a></li>
                  <% end %>
                  <% end %>
  
                  <% if @pagy_trash.next %>
                  <li class="page-item">
                    <%== link.call(@pagy_trash.next, pagy_t('pagy.nav.next')) %>
                  </li>
                  <% else %>
                  <li class="page-item disabled">
                    <%== link.call(@pagy_trash.next, pagy_t('pagy.nav.next')) %>
                  </li>
                  <% end %>
                </ul>
              </div>

          </div>
          <div class="content">
            <span class="display-desc">
              <p>
                Displaying Content 1 - 10 of 500 in total
              </p>
            </span>
            <div class="table">
              <table>
                <thead>
                  <tr>
                    <th>No</th>
                    <th>Nama</th>
                    <th>Admin</th>
                    <th>Kategori</th>
                    <th>Create At</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% @list_trash.each_with_index do |item, index| %>
                    <tr>
                      <td class="number bold">
                        <%= ((params[:page_trash].present? ? params[:page_trash].to_i : 1) - 1) * Pagy::VARS[:items].to_i + index + 1 %>
                      </td>
                      <td class="name bold"><a href=""> <img src="<%= item["image"] %>"><%= item["name"] %></a></td>
                      <td class="name bold"><%= item["requester"]["full_name"] %></td>
                      <td><%= item["category"]["name"] %></td>
                      <td>21/10/2023</td>
                      <td>
                        <button class="dropdown-toggle" type="button" id="dropdown-active" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                          <img src="<%= asset_pack_path("views/assets/images/ic_action.svg") %>">
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdown-active">
                          <a class="dropdown-item" href="#">Lihat</a>
                          <a class="dropdown-item" href="#">Hapus</a>
                        </div>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
            <div class="filter">
              <a class="btn " data-toggle="collapse" href="#filter3" role="button" aria-expanded="false" aria-controls="collapseExample">
                <img src="<%= asset_pack_path("views/assets/images/ic_arrow-left.svg") %>" >
                <img src="<%= asset_pack_path("views/assets/images/ic_filter.svg") %>">
              </a>
              <div class="collapse filter-form" id="filter3">
                <div class="card card-body">
                  <h4>Filter</h4>
                  <div class="form-wrap">
                    <label>Status</label>
                    <div class="form-group">
                      <select class="form-control">
                        <option>Terverifikasi</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-wrap">
                    <label>User</label>
                    <div class="form-group">
                      <div class="form-group">
                        <input type="nama" class="form-control" placeholder="Nama">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-wrap">
                  <label>Email</label>
                  <div class="form-group">
                    <div class="form-group">
                      <input type="email" class="form-control" placeholder="luna@gmail.com">
                    </div>
                  </div>
                </div>
                <div class="form-wrap">
                  <label>Cluster</label>
                  <div class="form-group">
                    <div class="form-group">
                      <input type="cluster" class="form-control" placeholder="Nama Cluster">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
</main>
</div>
</div>
<%= render("components/footer") %>