<div class="pb-wrapper">
  <%= render("components/sidebar") %>
  <main class="main" role="main">
    <%= render("components/cluster/header", active: 'all') %>
    <div class="tab-content clearfix">
      <div class="main-content tab-pane active" id="all">
        <div class="top ">
          <%= render("components/pagination", pagy: @pagy) %>      
          <div class="modal-wrap">
            <button type="button" class="btn btn-green" data-toggle="modal" data-target="#exampleModal">
              Buat Cluster <img src="<%= asset_pack_path("views/assets/images/ic_create-admin.svg") %>"  alt="add">
            </button>

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <!-- <h5 class="modal-title" id="exampleModalLabel">Tambah Admin</h5> -->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>

                  <%= simple_form_for(@cluster, url: clusters_path, method: :post, html: { multipart: true }) do |f| %>
                    <div class="modal-body">
                      <h3>Tambah Cluster</h3>
                      <div class="form-wrap">
                        <div class="form-group">
                          <%= f.input :image, as: :file, input_html: { name: 'image', id: 'file-input' } %>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6 col-xs-12">
                          <div class="form-wrap">
                            <label>Nama Cluster</label>
                            <div class="form-group">
                              <div class="form-group">
                                <input type="Cluster" name="name" class="form-control" placeholder="Nama Cluster">
                                </div>
                            </div>
                          </div>
                          <div class="form-wrap">
                            <label>Deskripsi</label>
                            <div class="form-group">
                              <div class="form-group">
                                <textarea type="text" name="description" class="form-control" placeholder="adellapratitas7@gmail.com"></textarea>
                              </div>
                            </div>
                          </div>
                        </div>
                          <div class="col-md-6 col-xs-12">
                            <div class="form-wrap">
                              <label>Kategori</label>
                              <div class="form-group">
                                <div class="form-group">
                                  <select class="form-control remote-select" name="category_id" data-placeholder="Category"
                                    data-url="<%= request.base_url + search_categories_clusters_path %>">
                                    <option></option>
                                  </select>
                                </div>
                              </div>
                            </div>

                            <div class="form-wrap">
                              <label>Admin</label>
                              <div class="form-group">
                                <div class="form-group">
                                  <select class="form-control remote-select" name="requester_id"
                                          data-url="<%= request.base_url + search_users_for_admin_path %>">
                                    <option></option>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <input type="hidden" name="status" value="requested">

                          </div>
                        </div>

                      </div>
                    <div class="modal-footer">
                      <button type="button" onclick="document.getElementById('new_api_auth_cluster').submit()" class="btn btn-solid-green" data-dismiss="modal">Tambah</button>
                      <button type="button" class="btn btn-transparent" data-dismiss="modal">Cancel</button>
                    </div>
                  <% end %>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="content">
          <span class="display-desc">
            <p>
              <%= show_count_table(params[:page], @total_row_per_page, @total_cluster) %>
            </p>
          </span>
          <div class="table">
            <table>
              <thead>
                <tr>
                  <th>No</th>
                  <th>Nama</th>
                  <th>Admin</th>
                  <th>Kategori</th>
                  <th>Status</th>
                  <th>Create At</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @clusters.each_with_index do |item, index| %>
                <tr>
                  <td class="number bold">
                    <%= ((params[:page].present? ? params[:page].to_i : 1) - 1) * Pagy::VARS[:items].to_i + index + 1 %>
                  </td>
                  <td class="name bold"><a href="<%= cluster_path(item["id"]) %>">
                      <img src="<%= item["image"].present? ? item["image"]["thumbnail_square"]["url"] : "" %>">
                      <%= item["name"] %></a></td>
                  <td class="name bold">
                    <%= item["requester"]["full_name"] %>
                  </td>
                  <td>
                    <%= item["category"]["name"] %>
                  </td>
                  <td>
                    <a class="<%= 'label label-'+status_cluster(item["status"]) %>" style="cursor:default" >
                      <%= item["status"] %>
                    </a>
                  </td>
                  <td>21/10/2023</td>
                  <td>
                    <button class="dropdown-toggle" type="button" id="dropdown-active" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      <img src="<%= asset_pack_path("views/assets/images/ic_action.svg") %>">
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdown-active">
                      <a class="dropdown-item" href="<%= cluster_path(item["id"]) %>">Lihat</a>
                      <a class="dropdown-item" href="<%= edit_cluster_path(item["id"]) %>">Edit</a>
                      <%= link_to "Hapus", cluster_path(item["id"]), {class: "dropdown-item", method: :delete, data: {confirm: "Apakah Anda Yakin?"}} %>
                    </div>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>

          <%= form_tag(clusters_path, method: :get) do %>
          <div class="filter">
            <a class="btn collapsed" data-toggle="collapse" href="#filter" role="button" aria-expanded="false" aria-controls="collapseExample">
              <img src="<%= asset_pack_path("views/assets/images/ic_arrow-left.svg") %>" >
              <img src="<%= asset_pack_path("views/assets/images/ic_filter.svg") %>">
            </a>
            <div class="collapse filter-form" id="filter">
              <div class="card card-body">
                <h4>Filter</h4>
                <div class="filter-wrap">
                  <div class="form-wrap">
                    <label>Status</label>
                    <div class="form-group">
                      <select class="form-control stat" name="status">
                        <option></option>
                        <% @statuses.each do |stat| %>
                          <option value="<%= stat %>" <%= selected stat, params[:status] %> > <%= stat %> </option>
                        <% end %>
                      </select>
                    </div>
                  </div>
                  <div class="form-wrap">
                    <label>Admin</label>
                    <div class="form-group">
                      <div class="form-group">
                        <input name="q" value="<%= params[:q] %>" type="nama" class="form-control q" placeholder="Nama">
                      </div>
                    </div>
                  </div>
                  <input type="hidden" name="filter_by" value="category_id">
                  <div class="form-group">
                    <label>Category</label>
                    <select class="form-control remote-select" name="filter_value" data-placeholder="Category"
                      data-url="<%= request.base_url + search_categories_clusters_path %>">
                      <option></option>
                      <% @categories.each do |c| %>
                      <option value="<%= c["id"] %>" <%= selected c["id"], params[:filter_value] %> >
                        <%= c["name"] %>
                      </option>
                      <% end %>
                    </select>
                  </div>
                </div>
              </div>
              <div class="button-wrapper">
                <button type="submit" class="btn btn-solid-green" data-dismiss="modal">Done</button>
                <button type="button" class="btn btn-transparent reset">Reset</button>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </main>
</div>
<%= render("components/footer") %>
