<div class="pb-wrapper">
  <%= render("components/sidebar") %>
  <main class="main" role="main">
    <%= render('components/cluster/header', active: 'trash') %>
    <div class="tab-content clearfix">
      <div class="main-content tab-pane active" id="all">
        <div class="top ">
          <%= render("components/pagination", pagy: @pagy) %>
        </div>
        <div class="content">
          <span class="display-desc">
            <p>
              <%= show_count_table(params[:page], @total_row_per_page, @total_cluster) %>
            </p>
          </span>
          <div class="table">
            <table>
              <thead>
                <tr>
                  <th>No</th>
                  <th>Nama</th>
                  <th>Admin</th>
                  <th>Kategori</th>
                  <th>Status</th>
                  <th>Create At</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @clusters.each_with_index do |item, index| %>
                <tr>
                  <td class="number bold">
                    <%= ((params[:page].present? ? params[:page].to_i : 1) - 1) * Pagy::VARS[:items].to_i + index + 1 %>
                  </td>
                  <td class="name bold"><a href="<%= detail_trash_cluster_path(item["id"]) %>">
                      <img src="<%= item["image"].present? ? item["image"]["thumbnail_square"]["url"] : "" %>">
                      <%= item["name"] %></a></td>
                  <td class="name bold">
                    <%= item["requester"].present? ? item["requester"]["full_name"] : "" %>
                  </td>
                  <td>
                    <%= item["category"].present? ? item["category"]["name"] : "" %>
                  </td>
                  <td class="<%= 'number bold' if item["status"] == "approved" %>">
                    <%= item["status"] unless item["status"].nil? %>
                  </td>
                  <td><%= Date.parse(item["created_at"]) unless item["created_at"].nil? %></td>
                  <td>
                    <button class="dropdown-toggle" type="button" id="dropdown-active" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      <img src="<%= asset_pack_path("views/assets/images/ic_action.svg") %>">
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdown-active">
                      <a class="dropdown-item" href="<%= detail_trash_cluster_path(item["id"]) %>">Lihat</a>
                    </div>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </main>
</div>
<%= render("components/footer") %>
