<div class="filter">
  <a class="btn filter-toggle collapsed" data-toggle="collapse" href="#filter" role="button" aria-expanded="false" aria-controls="collapseExample">
    <%= image_tag asset_pack_path("views/assets/images/ic_arrow-left.svg")  %>
    <%= image_tag asset_pack_path("views/assets/images/ic_filter.svg")  %>
  </a>
  <div class="collapse filter-form" id="filter">
    <div class="card card-body">
      <h4>Filter</h4>
      <%= form_tag(path, method: :get) do %>
      <div class="form-wrap">
        <label>User</label>
        <div class="form-group">
          <div class="form-group">
            <%= text_field_tag :nama, params[:nama].present? ? params[:nama] : '', class: 'form-control', placeholder: 'Nama' %>
          </div>
        </div>
      </div>
    </div>
    <div class="form-wrap">
      <label>Email</label>
      <div class="form-group">
        <div class="form-group">
          <%= text_field_tag :email, params[:email].present? ? params[:email] : '', class: 'form-control', placeholder: '' %>
        </div>
      </div>
    </div>
    <div class="button-wrapper">
      <button type="submit" class="btn btn-solid-green" data-dismiss="modal">Done</button>
      <%= link_to path do %>
      <button type="button" class="btn btn-transparent reset">Reset</button>
      <% end %>
    </div>
    <% end %>
  </div>
</div>