<div class="pb-wrapper">
  <%= render("components/sidebar") %>
  <main class="main" role="main">
    <header class="header" role="banner">
      <div class="tabs">
        <ul class="nav nav-pills">
          <li><a href="<%= user_verifications_path %>">Tertunda</a>
          </li>
          <li><a href="<%= accepted_user_verifications_path %>">Diterima</a>
          </li>
          <li class="active"><a href="<%= rejected_user_verifications_path %>">Ditolak</a>
          </li>
        </ul>
      </div>
      <%= render("components/dropdown_profile") %>
    </header>
    <div class="tab-content clearfix">

      <div class="main-content tab-pane active" id="ditolak">
        <div class="top ">
          <%= render("components/pagination", pagy: @pagy_users_rejected) %>
          <%= render('pages/users/verifications/modal_add_user') %>
        </div>
        <div class="content">
          <span class="display-desc">
            <p>
            </p>
          </span>
          <%= render('components/flash_message') %>
          <%= render('pages/users/verifications/tables', users: @users_rejected) %>
          <%= render('pages/users/verifications/filter', path: rejected_user_verifications_path) %>

        </div>
      </div>
    </div>
  </main>
</div>
<%= render("components/footer") %>