<div class="pb-wrapper">
  <%= render("components/sidebar") %>
  <main class="main" role="main">
    <header class="header" role="banner">
      <%= render("components/dropdown_profile") %>
    </header>
    <div class="main-content">
      <div class="top">
        <div class="btn-back">
          <%= link_to user_verifications_path do %>
          <img src="<%= asset_pack_path("views/assets/images/ic_back.svg") %>"> Back
          <% end %>
        </div>
      </div>
      <div class="content">
        <span class="display-desc">
          <p>
          </p>
        </span>
        <div class="bg-white detail-profile">
          <div class="card">
            <span class="profile-image">
            </span>
            <div class="right-desc">
              <% if @verification['status'] == 'requested' %>
              <%= link_to reject_verification_user_verifications_path(@verification['user']['id'])  do %>
              <button class="btn btn-solid-green" style="background-color:red">DITOLAK</button>
              <% end %>
              <%= link_to approve_verification_user_verifications_path(@verification['user']['id']) do  %>
              <button class="btn btn-solid-green">DITERIMA</button>
              <% end %>
              <% end %>
              <%= link_to reset_user_verifications_path(@verification['user']['id'])  do %>
              <button class="btn btn-solid-green" style="background-color:red">RESET / TAMBAH CATATAN</button>
              <% end %>
            </div>
          </div>

          <div class="card-form">
            <div class="row">
              <div class="col-md-6">
                <div class="form-wrap">
                  <label>Catatan</label>
                  <div class="form-group">
                    <div class="form-group">
                      <textarea name="description" class="form-control with-toolbar"><%== @verification["note"] %></textarea>
                    </div>
                  </div>
                </div>
                <div class="form-wrap">
                  <label>Email</label>
                  <div class="form-group">
                    <div class="form-group">
                      <input type="Email" class="form-control" placeholder="Email" value="<%= @verification['user']['email']%>">
                    </div>
                  </div>
                </div>

                <div id="images">
                <div class="form-wrap">
                  <label>Foto Wajah Beserta KTP</label>
                  <div class="image-wrap">
                     <%= image_tag @verification['ktp_selfie']['url'] unless @verification['ktp_selfie']['url'].nil? %>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-6 col-xs-12">
                    <div class="form-wrap">
                      <label>KTP</label>
                      <div class="image-wrap">
                        <%= image_tag @verification['ktp_photo']['url'] unless @verification['ktp_photo']['url'].nil? %>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-6 col-xs-12">
                    <div class="form-wrap">
                      <label>Tanda Tangan</label>
                      <div class="image-wrap">
                        <%= image_tag @verification['signature']['url'] unless @verification['signature']['url'].nil?  %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>
              <div class="col-md-6">
                <div class="form-wrap">
                  <label>No KTP</label>
                  <div class="form-group">
                    <div class="form-group">
                      <input type="Kategori" class="form-control" placeholder="No KTP" value="<%= @verification['ktp_number'] %>">
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.3.2/viewer.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.3.2/viewer.js"></script>
<script>
  // View a list of images
  const gallery = new Viewer(document.getElementById('images'), {
    viewed() {
      viewer.zoomTo(10);
    },
  });
</script>



<%= render("components/footer") %>