<div class="pb-wrapper">
  <%= render("components/sidebar") %>
  <main class="main" role="main">
    <%= render("components/politic/header", active: "all") %>
    <div class="main-content janji-politik">
      <div class="top">
        <div class="btn-back">
          <a href="<%= politics_path %>">
            <img src="<%= asset_pack_path("views/assets/images/ic_back.svg") %>"> Back
          </a>
        </div>
      </div>
      <div class="content">
        <span class="display-desc">
          <p>
              <!-- Displaying Content 1 - 30 of 500 in total -->
          </p>
        </span>
        <div class="bg-white detail-profile">
          <div class="card">
            <div class="sub-profile">
              <span class="profile-image">
                <%= image_tag @politic["creator"]["avatar"]["url"] if @politic["creator"]["avatar"].present? %>
              </span>
              <span class="name">
                <h5>Nama   :  <%= @politic["creator"]["full_name"] %></h5>
                <p>Cluster :  <%= @politic["creator"]["cluster"].present? ? @politic["creator"]["cluster"]["name"] : "Belum Ada" %></p>
              </span>
            </div>
            <div class="right-desc">
              <p>Created at : <%= @politic["created_at_in_word"]["id"] %></p>
              <%= button_to "EDIT", edit_politic_path(@politic), method: :get, class: "btn btn-solid-green" %>
            </div>
          </div>

          <div class="card-form">
            <div class="row">
              <div class="col-md-6">
                <div class="form-wrap">
                  <label>Judul</label>
                  <div class="form-group">
                    <div class="form-group">
                      <textarea type="Email" class="form-control" hresize placeholder="@Yudho"><%= @politic["title"] %></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-wrap">
                  <label>Deskripsi</label>
                  <div class="form-group">
                    <div class="form-group">
                      <textarea type="Email" class="form-control" hresize placeholder="Yogyakarta"><%= @politic["body"] %></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
<%= render("components/footer") %>

