<div class="col-md-2 sidebar">
  <aside class="sidebar" role="complementary">
    <div class="logo">
      <a href="/">
        <img src="<%= asset_pack_path("views/assets/images/logo.svg") %>" alt="Logo">
      </a>
    </div>
    <nav class="nav" role="navigation">
      <ul>
        <li class="nav-item">
          <%= link_to dashboards_path, class: 'sub-nav-item' do %>
            <img src="<%= asset_pack_path("views/assets/images/ic_home.svg") %>"> Home
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to '#', class: 'sub-nav-item' do %>
            <img src="<%= asset_pack_path("views/assets/images/ic_user-black.svg") %>"> User
          <% end %>
          <div class="collapse in sub-nav">
            <%= link_to 'List Admin', users_list_admin_path, class: "sub-nav-item nav-link #{active_menu 'admins'}" %>
            <%= link_to 'List User', users_list_user_path, class: "sub-nav-item nav-link #{active_menu 'users'}" %>
            <%= link_to 'User Verification',
                        user_verifications_path,
                        class: "sub-nav-item nav-link #{active_menu 'user_verifications'}" %>
            <%= link_to 'Badge', badges_path,
              class: "sub-nav-item nav-link #{active_menu 'badges'}" %>
          </div>
        </li>
        <li class="nav-item">
          <%= link_to '#', class: 'sub-nav-item' do %>
            <img src="<%= asset_pack_path("views/assets/images/ic_user-black.svg") %>"> Cluster
          <% end %>
          <div class="collapse in sub-nav" id="collapseUser">
            <%= link_to 'List User Cluster',
                        user_clusters_path,
                        class: "sub-nav-item nav-link user_clusters_path #{active_class('user_clusters')}" %>
            <%= link_to 'List Cluster',
                        clusters_path,
                        class: "sub-nav-item nav-link #{controller_name == 'clusters' ? 'active' : ''}" %>
            <%= link_to 'Categories', categories_path,
              class: "sub-nav-item nav-link #{controller_name == 'categories' ? 'active' : ''} " %>
          </div>
        </li>
        <li class="nav-item">
          <a href="#"><img src="<%= asset_pack_path("views/assets/images/ic_timeline-black.svg") %>"> Menyerap</a>
          <div class="collapse in sub-nav">
            <%= link_to 'Linimasa', linimasa_index_path, class: "sub-nav-item nav-link #{active_menu 'linimasa'}" %>
            <%= link_to 'Janji Politik', politics_path, class: "sub-nav-item nav-link #{active_menu 'politics'}" %>
          </div>
        </li>
        <li class="nav-item">
          <a href="#">
            <img src="<%= asset_pack_path("views/assets/images/ic_book-black.svg") %>"> Menggali
          </a>
          <div class="collapse in sub-nav">
            <%= link_to 'Tanya Kandidat', questions_path, class: "sub-nav-item nav-link #{active_menu 'questions'}" %>
            <%= link_to 'Quiz', quiz_index_path, class: "sub-nav-item nav-link #{active_menu 'quiz'} " %>
          </div>
        </li>
        <li class="nav-item">
          <a href="#"><img src="<%= asset_pack_path("views/assets/images/ic_ws-black.svg") %>"> Menguji</a>
        </li>
        <li class="nav-item">
          <a href="#"><img src="<%= asset_pack_path("views/assets/images/ic_report-black.svg") %>"> Menjaga</a>
        </li>
        <li class="nav-item">
          <a href="#"><img src="<%= asset_pack_path("views/assets/images/ic_calc-black.svg") %>"> Merayakan</a>
        </li>
        <li class="nav-item">
          <a href="#">
            <img src="<%= asset_pack_path("views/assets/images/ic_book-black.svg") %>"> Common
          </a>
          <div class="collapse in sub-nav">
            <%= link_to 'Banner',banner_index_path,
              class: "sub-nav-item nav-link #{active_menu 'banner'}" %>
            <%= link_to 'Political Party',political_party_index_path,
              class: "sub-nav-item nav-link #{active_menu 'political_party'}" %>
          </div>
        </li>
      </ul>
    </nav>
  </aside>
</div>