<% content_for :head do -%>
  <%= javascript_pack_tag 'folders/edit' %>
<% end -%>

<div class="d-flex main-wrapper">
  <%= render("components/sidebar") %>
  <div class="main-wrapper">
    <main class="main col-md-10 offset-md-2" role="main">
      <%= render "components/question/header", active: "terpilih" %>
      <div class="main-content janji-politik">
        <div class="top">
          <div class="modal-wrap">
            <%= render "edit" %>
          </div>
          <div class="btn-back">
            <%= link_to folders_path do %>
            	<img src="<%= asset_pack_path("views/assets/images/ic_back.svg") %>"> Back
            <% end %>
          </div>
        </div>
        <div class="content">
          <div class="bg-white detail-profile">
            <div class="card-form">
              
              <div class="row">
                <div class="col-md-12 right-desc">
                  <a href="#" class="btn btn-solid-green" data-toggle="modal" data-target="#editFolderModal" >EDIT</a>
                  <% if @folder['questions_count'] == 0 %>
                    <a class="btn btn-danger" href="<%= folder_path(@folder) %>" data-method="delete" data-confirm="Are you sure?">HAPUS</a>
                  <% else %>
                    <a class="btn btn-danger" href="javascript:alert('Cannot delete folder. You have archived question in this folder.')">HAPUS</a>
                  <% end %>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-wrap">
                    <label>Nama</label>
                    <div class="form-group">
                      <div class="form-group">
                        <input type="Email" class="form-control" value="<%= @folder['name'] %>">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
<%= render("components/footer") %>