<% content_for :head do -%>
  <%= javascript_pack_tag 'folders/edit' %>
<% end -%>

<div class="pb-wrapper">
  <%= render("components/sidebar") %>
  <main class="main" role="main">
    <%= render "components/question/header", active: "terpilih" %>
    <div class="main-content janji-politik">
      <div class="top">
        <div class="modal-wrap">
          <%= render "edit" %>
        </div>
        <div class="btn-back">
          <%= link_to folders_path do %>
          	<img src="<%= asset_pack_path("views/assets/images/ic_back.svg") %>"> Back
          <% end %>
        </div>
      </div>
      <div class="content">
        <div class="bg-white detail-profile">
          <div class="card-form">
            
            <div class="row">
              <div class="col-md-12 right-desc">
                <%= link_to 'MASUKKAN PERTANYAAN', questions_path, class: "btn btn-solid-green" %>
                <a href="#" class="btn btn-solid-green" data-toggle="modal" data-target="#editFolderModal" >EDIT</a>
                <% if @folder['questions_count'] == 0 %>
                  <a class="btn btn-solid-green" style="background-color:red" href="<%= folder_path(@folder) %>" data-method="delete" data-confirm="Are you sure?">HAPUS</a>
                <% else %>
                  <a class="btn btn-solid-green" style="background-color:red" href="javascript:alert('Cannot delete folder. You have archived question in this folder.')">HAPUS</a>
                <% end %>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-wrap">
                  <label>Nama</label>
                  <div class="form-group">
                    <div class="form-group">
                      <input type="Email" class="form-control" value="<%= @folder['name'] %>">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="table">
                <table>
                  <thead>
                    <tr>
                      <th>No</th>
                      <th>Nama</th>
                      <th>Pertanyaan</th>
                      <th>Status</th>
                      <th>Create At</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                  <% @questions.each_with_index do |question, index| %>
                    <tr>
                      <td class="number bold">
                        <%= index + 1 %>
                      </td>
                      <td class="name bold"><a href="<%= question_path(question['id']) %>">
                      <%= image_tag question['user']['avatar']['thumbnail_square']['url'] if question['user']['avatar']['thumbnail_square']['url'].present?  %>
                      <%= question['user']['full_name'] %>
                        </a></td>
                      <td><%= truncate(question['body'], :length => 80) %></td>
                      <td class="image">
                        <% if question['user']['verified'] %>
                        <img src="<%= asset_pack_path("views/assets/images/ic_status.svg") %>"/>
                        <% else %>
                        <img src="<%= asset_pack_path("views/assets/images/ic_status_nonactive.png") %>"/>
                        <% end %>
                      </td>
                      <td><%= Date.parse(question['created_at']) if question['created_at'].present? %></td>

                      <td>
                        <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="false">
                          <img src="<%= asset_pack_path("views/assets/images/ic_action.svg") %>">
                        </button>
                        <div class="dropdown-menu" aria-labelledby="action">
                          <a class="dropdown-item" href="<%= question_path(question['id']) %>">Lihat</a>
                          <a class="dropdown-item" href="<%= edit_question_path(question['id']) %>">Edit</a>
                          <a class="dropdown-item" href="#">Buang</a>
                        </div>
                      </td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </main>
</div>
<%= render("components/footer") %>