<div class="pb-wrapper">
  <%= render("components/sidebar") %>
  <main class="main" role="main">
    <header class="header" role="banner">
      <%= render("components/dropdown_profile") %>
    </header>
    <div class="main-content">
      <div class="top">
        <div class="btn-back">
          <%= link_to badge_path(@badge['id']) do %>
          <img src="<%= asset_pack_path("views/assets/images/ic_back.svg") %>"> Back
          <% end %>
        </div>
      </div>
      <div class="content">
        <span class="display-desc">
          <p>
          </p>
        </span>
        <%= render("components/flash_message") %>
        <div class="bg-white detail-profile">
          <div class="card">
            <span class="profile-image">
            </span>
            <div class="right-desc">
            </div>
          </div>
          <%= form_tag(badge_path(@badge['id']), method: :put, multipart: true) do %>
          <div class="card-form">
            <div class="form-group">
              <div class="form-wrap">
                <label for="">Nama</label>
                <%= text_field_tag :name, @badge['name'], class: 'form-control', placeholder: 'Nama Badge' %>
              </div>
            </div>
            <div class="form-group">
              <div class="form-wrap">
                <label for="">Deskripsi</label>
                <%= text_area_tag :description, @badge['description'], class: 'form-control', placeholder: 'Deskripsi' %>
              </div>
            </div>
            <div class="form-group">
                <div class="form-wrap">
                <label>Image</label>
                <%= file_field_tag :image, class: "form-control" %>
              </div>
            </div>
            <div class="form-group">
                <div class="form-wrap">
                <label>Image Gray</label>
                <%= file_field_tag :image_gray, class: "form-control" %>
              </div>
            </div>
            <div class="form-group">
                <div class="form-wrap">
                <label>Position</label>
                <%= text_field_tag :position, @badge['position'], class: 'form-control', placeholder: 'Position' %>
              </div>
            </div>
            <div class="form-group">
                <div class="form-wrap">
                <label>Code</label>
                <%= text_field_tag :code, @badge['code'], class: 'form-control', placeholder: 'Code', require: "require" %>
              </div>
            </div>
            <div class="form-group">
                <div class="form-wrap">
                <label>Namespace</label>
                <%= select_tag(:namespace, options_for_select([
                                ['pantau_bersama', 'pantau_bersama'],
                                ['janji_politik', 'janji_politik'],
                                ['tanya', 'tanya'],
                                ['tanya_interaksi', 'tanya_interaksi'],
                                ['kuis', 'kuis'],
                                ['lapor', 'lapor'],
                                ['profile', 'profile'],
                                ['relawan', 'relawan']
                                ], @badge['namespace']), class: "form-control") %>
              </div>
            </div>
            <div class="form-group">
                <div class="form-wrap">
                <button class="btn btn-solid-green" type="submit">Update</button>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </main>
</div>
<%= render("components/footer") %>