<header class="header" role="banner">
  <div class="tabs">
    <ul class="nav nav-pills">
      <li class="<%= 'active' if active == 'all'%>">
        <a href="<%= quiz_index_path %>">All</a>
      </li>
      <li class="<%= 'active' if active == 'trash'%>">
        <a href="<%= trash_quiz_index_path %>">Trash</a>
      </li>
    </ul>
  </div>
  <%= render("components/dropdown_profile") %>
</header>