<div class="pb-wrapper">
  <%= render("components/sidebar") %>
	<main class="main" role="main">
		<%= render("components/linimasa/header", active: "all") %>
		<div class="tab-content clearfix">
			<div class="main-content tab-pane active" id="all">

				<div class="top ">
					<%= render("components/pagination", pagy: @pagy) %>
					<div class="modal-wrap">
						<button type="button" class="btn btn-green" data-toggle="modal" data-target="#exampleModal">
								Tambah Username <img src="<%= asset_pack_path("views/assets/images/ic_create-admin.svg") %>" alt="add">
						</button>
						<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>

									<form id="new_user" accept-charset="UTF-8" action="<%= linimasa_index_path %>" method="post">
										<input type="hidden" value="<%= form_authenticity_token() %>" name="authenticity_token"/>
										<div class="modal-body">
											<h3>Tambah Username</h3>
											<div class="form-wrap">
												<label>Username Twitter</label>
												<div class="form-group">
													<div class="form-group">
														<input type="text" class="form-control" name="keywords" value="<%= params[:keywords] %>" placeholder="adellapratitas7@gmail.com">
													</div>
												</div>
											</div>
											<div class="checklist">
												<label>Kubu Tim Sukses</label>
												<div class="form-check">
													<input class="form-check-input" type="radio" name="team"
																	id="exampleRadios1"
																	value="1" checked>
													<label class="form-check-label" for="exampleRadios1">
															Jokowi - Ma'ruf
													</label>
												</div>
												<div class="form-check">
													<input class="form-check-input" type="radio" name="team"
																	id="exampleRadios2"
																	value="2">
													<label class="form-check-label" for="exampleRadios2">
															Prabowo - Sandi
													</label>
												</div>
											</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-solid-green" onclick="document.getElementById('new_user').submit()" data-dismiss="modal">
													Tambah
											</button>
											<button type="button" class="btn btn-transparent" data-dismiss="modal">Cancel</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="content">
					<span class="display-desc">
						<p>
              <%= show_count_table(params[:page], @total_row_per_page, @total_tweets) %>
						</p>
					</span>
					<div class="table">
						<table>
							<thead>
							<tr>
								<th>No</th>
								<th>Team</th>
								<th>Username Twitter</th>
								<th>Isi</th>
								<th></th>
							</tr>
							</thead>
							<tbody>
							<% @item_tweets.each_with_index do |item, index| %>
								<tr>
									<td class="number bold"><%= ((params[:page].present? ? params[:page].to_i : 1) - 1) * Pagy::VARS[:items].to_i + index + 1 %></td>
									<td class="name bold"><a href="<%= linimasa_path(item["id"]) %>"><%= item["team"]["title"] %></a></td>
									<td><%= item["account"]["username"] %></td>
									<td><%= item["source"]["text"].truncate(60) %></td>
									<td>
										<button class="dropdown-toggle" type="button" data-toggle="dropdown"
														aria-haspopup="true" aria-expanded="false">
											<img src="<%= asset_pack_path("views/assets/images/ic_action.svg") %>">
										</button>
										<div class="dropdown-menu" aria-labelledby="action">
											<a class="dropdown-item" href="<%= linimasa_path(item["id"]) %>">Lihat</a>
											<%= link_to "Delete", linimasa_path(item["id"]), {method: :delete, data: {confirm: "Apakah Anda Yakin?"}, class: "dropdown-item"} %>
										</div>
									</td>
								<tr>
							<% end %>
							</tbody>
						</table>
					</div>

					<%= form_tag(linimasa_index_path, method: :get) do %>
					<div class="filter">
						<a class="btn " data-toggle="collapse" href="#filter" role="button" aria-expanded="false"
								aria-controls="collapseExample">
							<img src="<%= asset_pack_path("views/assets/images/ic_arrow-left.svg") %>">
							<img src="<%= asset_pack_path("views/assets/images/ic_filter.svg") %>">
						</a>
						<div id="filter" class="collapse filter-form">
							<div class="card card-body">
								<h4>Filter</h4>
								<div class="form-wrap">
									<label>Team</label>
									<div class="form-group">
										<select id="selected_filter" class="form-control stat" name="filter">
											<option></option>
											<% @teams.each do |t| %>
												<option value="<%= t["id"] %>" <%= selected t["id"], params[:filter] %> > <%= t["name"] %> </option>
											<% end %>
										</select>
									</div>
								</div>
								<div class="form-wrap">
									<label>Username</label>
									<div class="form-group">
											<div class="form-group">
												<input name="username" value="<%= params[:username] %>" type="nama" class="form-control q" placeholder="Nama">
											</div>
									</div>
								</div>
							</div>
							<div class="form-wrap">
								<label>Isi</label>
								<div class="form-group">
									<div class="form-group">
										<textarea name="isi" class="form-control" rows="5" placeholder="Isi Tweet"><%= params[:isi] %></textarea>
									</div>
								</div>
							</div>
							<div class="button-wrapper">
								<button id="send" type="submit" class="btn btn-solid-green" data-dismiss="modal">Done</button>
								<button type="button" class="btn btn-transparent reset">Reset</button>
							</div>
						</div>
					</div>
					<% end %>
				</div>
			</div>
		</div>
	</main>
</div>
<%= render("components/footer") %>
