<div class="pb-wrapper">
  <%= render("components/sidebar") %>
  <main class="main" role="main">
    <%= render("components/linimasa/header", active: "user") %>
    <div class="main-content janji-politik">
      <div class="top">
        <div class="btn-back">
          <a href="<%= linimasa_index_path %>">
            <img src="<%= asset_pack_path("views/assets/images/ic_back.svg") %>"> Back
          </a>
        </div>
      </div>
      <div class="content">
        <span class="display-desc">
          <p>
              <!-- Displaying Content 1 - 30 of 500 in total -->
          </p>
        </span>
        <div class="bg-white detail-profile">
          <div class="card">
            <!-- <div class="sub-profile">
                <span class="profile-image"><img src="<%#= asset_pack_path("views/assets/images/profile.jpg") %>") %>"></span>
                <span class="name">
                    <h5>Nama   :  Aniah Muanjani</h5>
                    <p>Cluster :  Partai Kuning Ceria</p>

                </span>

            </div> -->
            <div class="right-desc">
             <%= button_to "delete", delete_user_path(@detail_user["data"]["crowling"]["id"]), method: :delete, class: "btn btn-solid-green" %>
            </div>
          </div>
          <div class="card-form">
            <div class="row">
              <div class="col-md-6">
                <div class="form-wrap">
                  <label>Username</label>
                  <div class="form-group">
                    <div class="form-group">
                      <input type="text" class="form-control" hresize placeholder="@Yudho" value="<%= @detail_user["data"]["crowling"]["team"]["title"] %>">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-wrap">
                  <label>Kubu Tim Sukses</label>
                  <div class="form-group">
                    <div class="form-group">
                      <input type="text" class="form-control" hresize placeholder="Jokowi Prabowo" value="<%= @detail_user["data"]["crowling"]["keywords"] %>">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-wrap">
                  <label>Jumlah Tweet</label>
                  <div class="form-group">
                    <div class="form-group">
                      <input type="text" class="form-control" hresize placeholder="Jokowi Prabowo" value="<%= @detail_user["data"]["crowling"]["feeds_count"] %>">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
<%= render("components/footer") %>
