<div class="d-flex main-wrapper">
  <%= render("components/sidebar") %>
  <div class="main-wrapper">
    <main class="main col-md-10 offset-md-2" role="main">
      <header class="header" role="banner">
        <%= render("components/dropdown_profile") %>
      </header>
      <div class="main-content">
        <div class="top">
          <div class="pagination-wrap">
              <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><img src="<%= asset_pack_path("views/assets/images/ic_arrow-left.svg") %>" alt="Previous"></a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#"><img src="<%= asset_pack_path("views/assets/images/ic_arrow_right.svg") %>" alt="Next"></a>
                  </li>
                </ul>
          </div>
          <div class="modal-wrap">
            <button type="button" class="btn btn-green" data-toggle="modal" data-target="#exampleModal">
                Create Broadcast <img src="<%= asset_pack_path("views/assets/images/ic_create-admin.svg") %>" alt="add">
              </button>

              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <h3>Tambah Broadcast</h3>
                      <div class="row">
                        <%= form_tag(broadcasts_path, method: :post) do %>
                        <div class="col-md-6 col-xs-12">
                          <div class="form-wrap">
                            <label>Judul</label>
                              <div class="form-group">
                                <input type="text" name="title" class="form-control" placeholder="Tuliskan judul broadcast" required>
                              </div>
                          </div>
                          <div class="form-wrap">
                            <label>Deskripsi</label>
                            <div class="form-group">
                              <textarea class="form-control" name="description" placeholder="Deskripsi" required></textarea>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-wrap">
                            <label>Link</label>
                              <div class="form-group">
                                <input type="text" class="form-control" name="link" placeholder="Link" required>
                              </div>
                          </div>
                          <div class="form-wrap">
                            <label>Event Type</label>
                              <div class="form-group">
                                <select name="event_type" class="form-control" id="">
                                  <option value="info">Info</option>
                                  <option value="event">Event</option>
                                </select>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-solid-green">Tambah</button>
                      <button type="button" class="btn btn-transparent" data-dismiss="modal">Cancel</button>
                    </div>
                    <% end %>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="content">
            <span class="display-desc">
              <p>
                  Displaying Content 1 - 30 of 500 in total
              </p>
            </span>
            <%= render("components/flash_message") %>
          <div class="table">
              <table>
                <thead>
                    <tr>
                      <th>No</th>
                      <th>Judul</th>
                      <th>Deskripsi</th>
                      <th>Oleh</th>
                      <th>Create At</th>
                      <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                      <td class="number bold">1</td>
                      <td class="name bold"><a href="<%= broadcast_path(1) %>">Data Perhitungan</a></td>
                      <td>Anak-anak muda dari dunia industri kreatif di Banda Aceh.</td>
                      <td>Nurlela Ahmad</td>
                      <td>21/10/23</td>
                      <td>
                        <button class="dropdown-toggle" type="button" id="action" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="<%= asset_pack_path("views/assets/images/ic_action.svg") %>">
                        </button>
                        <div class="dropdown-menu" aria-labelledby="action">
                            <a class="dropdown-item" href="#">Lihat</a>
                            <a class="dropdown-item" href="#">Edit</a>
                            <a class="dropdown-item" href="#">Hapus</a>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="number bold">1</td>
                      <td class="name bold"><a href="<%= broadcast_path(1) %>">UGM</a></td>
                      <td>Anak-anak muda dari dunia industri kreatif di Banda Aceh.</td>
                      <td>Nurlela Ahmad</td>
                      <td>21/10/23</td>
                      <td>
                        <button class="dropdown-toggle" type="button" id="action" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="<%= asset_pack_path("views/assets/images/ic_action.svg") %>">
                        </button>
                        <div class="dropdown-menu" aria-labelledby="action">
                            <a class="dropdown-item" href="#">Lihat</a>
                            <a class="dropdown-item" href="#">Edit</a>
                            <a class="dropdown-item" href="#">Hapus</a>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="number bold">1</td>
                      <td class="name bold"><a href="<%= broadcast_path(1) %>">UGM</a></td>
                      <td>Anak-anak muda dari dunia industri kreatif di Banda Aceh.</td>
                      <td>Nurlela Ahmad</td>
                      <td>21/10/23</td>
                      <td>
                        <button class="dropdown-toggle" type="button" id="action" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="<%= asset_pack_path("views/assets/images/ic_action.svg") %>">
                        </button>
                        <div class="dropdown-menu" aria-labelledby="action">
                            <a class="dropdown-item" href="#">Lihat</a>
                            <a class="dropdown-item" href="#">Edit</a>
                            <a class="dropdown-item" href="#">Hapus</a>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="number bold">1</td>
                      <td class="name bold"><a href="<%= broadcast_path(1) %>">UGM</a></td>
                      <td>Anak-anak muda dari dunia industri kreatif di Banda Aceh.</td>
                      <td>Nurlela Ahmad</td>
                      <td>21/10/23</td>
                      <td>
                        <button class="dropdown-toggle" type="button" id="action" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="<%= asset_pack_path("views/assets/images/ic_action.svg") %>">
                        </button>
                        <div class="dropdown-menu" aria-labelledby="action">
                            <a class="dropdown-item" href="#">Lihat</a>
                            <a class="dropdown-item" href="#">Edit</a>
                            <a class="dropdown-item" href="#">Hapus</a>
                        </div>
                      </td>
                    </tr>

                </tbody>
                </table>
          </div>
          <div class="filter">
              <a class="btn " data-toggle="collapse" href="#filter" role="button" aria-expanded="false" aria-controls="collapseExample">
                  <img src="<%= asset_pack_path("views/assets/images/ic_arrow-left.svg") %>">
                  <img src="<%= asset_pack_path("views/assets/images/ic_filter.svg") %>">
                </a>
              <div class="collapse filter-form" id="filter">
                <div class="card card-body">
                  <h4>Filter</h4>
                  <div class="filter-wrap">
                        <div class="form-wrap">
                          <label>Judul</label>
                          <div class="form-group">
                              <div class="form-group">
                                  <input type="nama" class="form-control" placeholder="Data Perhitungan">
                                </div>
                            </div>
                        </div>
                  </div>
                </div>
                  <div class="button-wrapper">
                    <button type="button" class="btn btn-solid-green" data-dismiss="modal">Done</button>
                    <button type="button" class="btn btn-transparent">Reset</button>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
<%= render("components/footer") %>