<div class="pb-wrapper">
  <%= render("components/sidebar") %>
  <main class="main" role="main">
    <header class="header" role="banner">
      <%= render("components/dropdown_profile") %>
    </header>
    <div class="main-content">
      <div class="content">
        <div class="top-wrap">
          <h3 class="main-title">Preferensi Calon</h3>
          <div class="row">

            <% @poll['teams'].each_with_index do |calon, index| %>
              <% if index < 2 %>
                <div class="col-sm-6 col-xs-12">
                  <div class="card">
                    <div class="paslon">
                      <span class="image"><img src="<%= calon['avatar'] %>"><p><%= calon['title'] %></p></span>
                      <h2><%= calon['percentage'] %> %</h2>
                      <h4>Note Total</h4>
                      <h4>(<%= calon['title'] %>)</h4>
                      <span class="user"><img src="<%= asset_pack_path("views/assets/images/ic_user-home.svg") %>"> <h4><%= calon['total'] %>
                          User</h4></span>
                    </div>
                  </div>
                </div>
              <% else %>
                <div class="col-sm-12">
                  <div class="card">
                    <div class="paslon">
                      <h2 class="text-red"><%= calon['percentage'] %> %</h2>
                      <h4>Note Total</h4>
                      <h4><%= calon['title'] %></h4>
                      <span class="user"><img src="<%= asset_pack_path("views/assets/images/ic_user-home.svg") %>"> <h4><%= calon['total'] %>
                          User</h4></span>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>

          </div>

          <h3 class="main-title">Total Data</h3>
          <div class="row total-data">
            <div class="col-sm-4 col-xs-12">
              <div class="card">
                <img src="<%= asset_pack_path("views/assets/images/ic_user-home.svg") %>">
                <p>Total Pengguna</p>
                <h2><%= @statistic['users'].present? ? @statistic['users'] : ''  %></h2>
              </div>
            </div>
            <div class="col-sm-4 col-xs-12">
              <div class="card">
                <img src="<%= asset_pack_path("views/assets/images/ic-linimasa-home.svg") %>">
                <p>Total Post Linimasa</p>
                <h2><%= @statistic_pemilu['feeds'].present? ? @statistic_pemilu['feeds'] : '' %></h2>
              </div>
            </div>
            <div class="col-sm-4 col-xs-12">
              <div class="card">
                <img src="<%= asset_pack_path("views/assets/images/ic-post-janji-home.svg") %>">
                <p>Total Post Janji Politik</p>
                <h2><%= @statistic_pemilu['janji_politiks'].present? ? @statistic_pemilu['janji_politiks'] : ''  %></h2>
              </div>
            </div>
          </div>

          <div class="row total-data">
            <div class="col-sm-4 col-xs-12">
              <div class="card">
                <img src="<%= asset_pack_path("views/assets/images/ic-pertanyaan-home.svg") %>">
                <p>Total Post Pertanyaan</p>
                <h2><%= @statistic_pemilu['questions'].present? ? @statistic_pemilu['questions'] : ''  %></h2>
              </div>
            </div>
            <div class="col-sm-4 col-xs-12">
              <div class="card">
                <img src="<%= asset_pack_path("views/assets/images/ic-news-home.svg") %>">
                <p>Total News</p>
                <h2>-</h2>
              </div>
            </div>
            <div class="col-sm-4 col-xs-12">
              <div class="card">
                <img src="<%= asset_pack_path("views/assets/images/ic-user-debate-home.svg") %>">
                <p>Total Debate</p>
                <h2>-</h2>
              </div>
            </div>
          </div>
          <div class="row total-data">
            <div class="col-sm-4 col-xs-12">
              <div class="card">
                <img src="<%= asset_pack_path("views/assets/images/ic-lapor-home.svg") %>">
                <p>Total Lapor</p>
                <h2><%= @statistic_pemilu['report'].present? ? @statistic_pemilu['report'] : '' %></h2>
              </div>
            </div>
            <div class="col-sm-4 col-xs-12">
              <div class="card">
                <img src="<%= asset_pack_path("views/assets/images/ic-perhitungan-home.svg") %>">
                <p>Total Perhitungan</p>
                <h2>-</h2>
              </div>
            </div>
            <div class="col-sm-4 col-xs-12">
              <div class="card">
                <img src="<%= asset_pack_path("views/assets/images/ic-cluster-home.svg") %>">
                <p>Total Cluster</p>
                <h2><%= @statistic['clusters'].present? ? @statistic['clusters'] : ''  %></h2>
              </div>
            </div>
          </div>
          <div class="row total-data">
            <div class="col-sm-4 col-xs-12">
              <div class="card">
                <img src="<%= asset_pack_path("views/assets/images/ic-side-note-home.svg") %>">
                <p>Total Side Note</p>
                <h2>-</h2>
              </div>
            </div>
            <div class="col-sm-4 col-xs-12">
              <div class="card">
                <img src="<%= asset_pack_path("views/assets/images/ic-upvote-home.svg") %>">
                <p>Total Upvote Pertanyaan</p>
                <h2><%= @statistic_pemilu['question_upvotes'].present? ? @statistic_pemilu['question_upvotes'] : '' %></h2>
              </div>
            </div>
            <div class="col-sm-4 col-xs-12">
              <div class="card">
                <img src="<%= asset_pack_path("views/assets/images/ic-debate-home.svg") %>">
                <p>Total Apresiasi Debate</p>
                <h2>-</h2>
              </div>
            </div>
          </div>
        </div>

        <h3 class="main-title">Grafik</h3>
        <div class="graphic" data-url="<%= request.base_url %>">

          <!-- Registration -->
          <div class="card">
            <div class="head-title">
              <h3>Registration</h3>
              <p>Februari 2019 - Maret 2019</p>
            </div>
            <%
              monts = [
                ['Januari', '1'],
                ['Februari', '2'],
                ['Maret', '3'],
                ['April', '4'],
                ['Mei', '5'],
                ['Juni', '6'],
                ['Juli', '7'],
                ['Agustus', '8'],
                ['September', '9'],
                ['Oktober', '10'],
                ['November', '11'],
                ['Desember', '12'],
              ]

              years = [
                ['2018', '2018'],
                ['2019', '2019'],
                ['2020', '2020'],
                ['2021', '2021'],
                ['2022', '2022'],
                ['2023', '2023'],
              ]
             %>
            <%= form_tag(dashboards_path, method: :get, id: "chart_registrantion_form") do %>
            <div class="filter">
              <div class="collapse filter-form" id="filter1">
                <div class="card card-body">
                  <h4>Filter</h4>
                  <div class="filter-wrap">
                    <div class="form-wrap">
                      <label>Bulan Awal</label>
                      <div class="form-group">
                        <%= select_tag(:month_from_registration, options_for_select(monts, params[:month_from_registration]), class: 'form-control') %>
                      </div>
                      <label>Tahun Awal</label>
                      <div class="form-group">
                        <%= select_tag(:year_from_registration, options_for_select(years, params[:year_from_registration]), class: 'form-control') %>
                      </div>
                    </div>
                    <div class="form-wrap">
                      <label>Bulan Akhir</label>
                      <div class="form-group">
                        <%= select_tag(:month_to_registration, options_for_select(monts, params[:month_to_registration]), class: 'form-control') %>
                      </div>
                      <label>Tahun Akhir</label>
                      <div class="form-group">
                        <%= select_tag(:year_to_registration, options_for_select(years, params[:year_to_registration]), class: 'form-control') %>
                      </div>
                    </div>
                    <div class="form-wrap">
                      <div class="form-group">
                        <div class="button-wrapper">
                          <button type="submit" class="btn btn-solid-green" data-dismiss="modal">Done</button>
                          <button type="reset" class="btn btn-transparent">Reset</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% end %>

                </div>
              </div>
              <a class="btn collapsed" data-toggle="collapse" href="#filter1" role="button" aria-expanded="false"
                aria-controls="collapseExample">
                <img src="<%= asset_pack_path("views/assets/images/ic_arrow-left.svg") %>">
                <img src="<%= asset_pack_path("views/assets/images/ic_filter.svg") %>">
              </a>
            </div>
            <div id="chartRegistration" class="pb-graph-container"></div>
          </div>

          <!-- Questions -->
          <div class="card">
            <div class="head-title">
              <h3>Post Pertanyaan</h3>
              <p>01/01/2019-01/06/2019</p>
            </div>

            <div class="filter">
              <div class="collapse filter-form" id="filter2">
                <div class="card card-body">
                  <h4>Filter</h4>
                  <div class="filter-wrap">
                    <div class="form-wrap">
                      <label>Nama Cluster</label>
                      <div class="form-group">
                        <div class="form-group">
                          <select class="form-control">
                            <option>UGM</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="form-wrap">
                      <label>Tanggal Akhir</label>
                      <div class="form-group">
                        <div class="form-group">
                          <select class="form-control">
                            <option>UGM</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="form-wrap">
                      <div class="form-group">
                        <div class="button-wrapper">
                          <button type="button" class="btn btn-solid-green" data-dismiss="modal">Done</button>
                          <button type="button" class="btn btn-transparent">Reset</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <a class="btn collapsed" data-toggle="collapse" href="#filter2" role="button" aria-expanded="false"
                aria-controls="collapseExample">
                <img src="<%= asset_pack_path("views/assets/images/ic_arrow-left.svg") %>">
                <img src="<%= asset_pack_path("views/assets/images/ic_filter.svg") %>">
              </a>
            </div>
            <div id="chartQuestion" class="pb-graph-container"></div>
          </div>

          <!-- Debate -->
          <div class="card">
            <div class="head-title">
              <h3>Post Debate</h3>
              <p>01/01/2019-01/06/2019</p>
            </div>

            <div class="filter">
              <div class="collapse filter-form" id="filter3">
                <div class="card card-body">
                  <h4>Filter</h4>
                  <div class="filter-wrap">
                    <div class="form-wrap">
                      <label>Nama Cluster</label>
                      <div class="form-group">
                        <div class="form-group">
                          <select class="form-control">
                            <option>UGM</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="form-wrap">
                      <label>Tanggal Akhir</label>
                      <div class="form-group">
                        <div class="form-group">
                          <select class="form-control">
                            <option>UGM</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="form-wrap">
                      <div class="form-group">
                        <div class="button-wrapper">
                          <button type="button" class="btn btn-solid-green" data-dismiss="modal">Done</button>
                          <button type="button" class="btn btn-transparent">Reset</button>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <a class="btn collapsed" data-toggle="collapse" href="#filter3" role="button" aria-expanded="false"
                aria-controls="collapseExample">
                <img src="<%= asset_pack_path("views/assets/images/ic_arrow-left.svg") %>">
                <img src="<%= asset_pack_path("views/assets/images/ic_filter.svg") %>">
              </a>
            </div>
            <div id="chartDebate" class="pb-graph-container"></div>
          </div>

        </div>
      </div>
    </div>
  </main>
</div>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script type="text/javascript">

  // Debate
  Highcharts.chart('chartDebate', {
    chart: {
      type: 'area'
    },
    title: {
      text: null
    },
    xAxis: {
      categories: ['Jan', 'Feb', 'Mar', 'Apr', 'Mei', 'Jun'],
      lineColor: '#111111',
      lineWidth: 1,
      labels: {
        style: {
          fontSize: 16
        }
      },
    },
    yAxis: {
      max: 100,
      tickInterval: 50,
      title: {
        text: null
      },
      labels: {
        style: {
          fontSize: 16
        }
      },
    },
    tooltip: {
      pointFormat: '<b>{point.y:,.0f}</b>% Post Debate'
    },
    plotOptions: {
      area: {
        fillColor: {
          linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1},
          stops: [
            [0, '#3023AE'],
            [1, '#C86DD7']
          ]
        },
        marker: {
          enabled: false,
          states: {
            hover: {
              enabled: true
            }
          }
        }
      }
    },
    legend: {
      enabled: false,
    },
    series: [{
      name: 'Debate',
      data: [20, 50, 82, 65, 56, 100],
      lineWidth: 3,
      lineColor: '#3023AE'
    }],
    credits: {
      enabled: false
    }
  });
</script>

<%= render("components/footer") %>