<header class="header" role="banner">
  <div class="tabs">
    <ul class="nav nav-pills">
      <li class="<%= 'active' if active == 'all'%>">
        <a href="<%= questions_path %>">List Pertanyaan</a>
      </li>
      <li class="<%= 'active' if active == 'terpilih'%>">
        <a href="<%= folders_questions_path %>">Terpilih</a>
      </li>
      <li class="<%= 'active' if active == 'trash'%>">
        <a href="<%= trash_questions_path %>">Trash</a>
      </li>
    </ul>
  </div>

  <%= render("components/dropdown_profile") %>
</header>
