<div class="pb-wrapper">
  <%= render("components/sidebar") %>
  <main class="main" role="main">
    <header class="header" role="banner">
      <%= render("components/dropdown_profile") %>
    </header>
    <div class="main-content janji-politik">
      <div class="top">
        <div class="btn-back">
          <a href="<%= category_path(@category['id']) %>">
            <img src="<%= asset_pack_path("views/assets/images/ic_back.svg") %>"> Back
          </a>
        </div>
      </div>
      <div class="content">
        <span class="display-desc">
          <p>
          </p>
        </span>
        <div class="bg-white detail-profile">
          <div class="card-form">
            <div class="row">
              <div class="col-md-6">
                <div class="form-wrap">
                  <%= form_tag(category_path(@category["id"]), method: :put) do  %>
                  <label>Nama Cluster</label>
                  <div class="form-group">
                    <input name="name" type="text" value="<%= @category["name"] %>" class="form-control">
                  </div>
                </div>
                <div class="form-wrap">
                  <label>Deskripsi</label>
                  <div class="form-group">
                    <textarea name="description" type="text" class="form-control"><%= @category["description"] %></textarea>
                  </div>
                </div>
                <button class="btn btn-solid-green" type="submit"> UPDATE </button>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
<%= render("components/footer") %>