<div class="d-flex main-wrapper">
  <%= render("components/sidebar") %>
  <div class="main-wrapper">
    <main class="main col-md-10 offset-md-2" role="main">
      <%= render("components/header") %>
      <div class="main-content">
        <div class="top">
        </div>
        <div class="content">
          <span class="display-desc">
            <p>
            </p>
          </span>
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-body">
                <%= image_tag @user['avatar']['thumbnail']['url'] unless @user['avatar']['thumbnail']['url'].nil?  %><br>
                <%= @user['email'] %> <br>
                <%= @user['full_name'] %> <br>
                <%= @user['username'] %> <br>
                Verified :
                <%= @user['verified'] %> <br>
                Twitter :
                <%= @user['twitter'] %> <br>
                Facebook :
                <%= @user['facebook'] %> <br>
              </div>
            </div>
          </div>

      </div>
  </div>
  </main>
</div>
</div>
<%= render("components/footer") %>