<div class="d-flex main-wrapper">
  <%= render("components/sidebar") %>
  <div class="main-wrapper">
    <main class="main col-md-10 offset-md-2" role="main">
      <header class="header" role="banner">
        <div class="tabs">  
                <ul  class="nav nav-pills">
                    <li class="active"><a  href="#tertunda" data-toggle="tab">Tertunda</a>
                    </li>
                    <li><a href="#diterima" data-toggle="tab">Diterima</a>
                    </li>
                    <li><a href="#ditolak" data-toggle="tab">Ditolak</a>
                    </li>
                </ul>
        </div>

        <div class="dropdown profile">
          <button class="dropdown-toggle" type="button" id="profile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="<%= asset_pack_path("views/assets/images/profile.jpg") %>">
              <div class="desc">
                <h5>Lilian Chu</h5>
                <p>Admin</p>
              </div>
              <span class="icon">
                  <img src="<%= asset_pack_path("views/assets/images/ic_expand.svg") %>">
              </span>
          </button>
          <div class="dropdown-menu" aria-labelledby="profile">
            <a class="dropdown-item" href="#">Profile</a>
            <a class="dropdown-item" href="#">Setting</a>
          </div>
        </div>
      </header>

      <div class="tab-content clearfix">

        <div class="main-content verification tab-pane active" id="tertunda">
          <div class="top ">
            <div class="pagination-wrap">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><img src="<%= asset_pack_path("views/assets/images/ic_arrow-left.svg") %>" alt="Previous"></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active" aria-current="page">
                  <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#"><img src="<%= asset_pack_path("views/assets/images/ic_arrow_right.svg") %>" alt="Next"></a>
                </li>
              </ul>
            </div>
            <div class="modal-wrap">
              <button type="button" class="btn btn-green" data-toggle="modal" data-target="#exampleModal">
                Tambah User Verification <img src="<%= asset_pack_path("views/assets/images/ic_create-admin.svg") %>" alt="add">
              </button>
                
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <!-- <h5 class="modal-title" id="exampleModalLabel">Tambah Admin</h5> -->
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <h3>Tambah User Verification</h3>
                      <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-wrap">
                              <label>Email</label>
                              <div class="form-group">
                                <div class="form-group">
                                  <input type="Email" class="form-control" placeholder="Folder A">
                                </div>
                              </div>
                            </div>

                            <div class="form-wrap">
                              <label>Foto Wajah Beserta KTP</label>
                              <div class="form-group">
                                <div class="upload-image">
                                  <div class="custom-button">
                                    <label class="upload-img" for="file-input">
                                    <img src="<%= asset_pack_path("views/assets/images/ic_img.svg") %>" alt="add">
                                    </label>
                                    <input type="file" name="pic" id="file-input" accept="image/*">
                                  </div>
                                  <span>
                                    <p>Upload PNG/JPG</p>
                                    <p>Maks 512x512</p>
                                  </span>
                                </div>
                              </div>
                            </div>

                            <div class="form-wrap">
                                <label>KTP</label>
                                <div class="form-group">
                                    <div class="upload-image">
                                        <div class="custom-button">
                                            <label class="upload-img" for="file-input">
                                            <img src="<%= asset_pack_path("views/assets/images/ic_img.svg") %>" alt="add">
                                            </label>
                                            <input type="file" name="pic" id="file-input" accept="image/*">
                                        </div>
                                            <span>
                                                    <p>Upload PNG/JPG</p>
                                                    <p>Maks 512x512</p>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-wrap">
                              <label>No. KTP</label>
                              <div class="form-group">
                                  <div class="form-group">
                                      <input type="Email" class="form-control" placeholder="Folder A">
                                    </div>
                                </div>
                            </div>

                            <div class="form-wrap example">
                                    <label>Contoh</label>
                                    <div class="form-group">
                                                <img src="<%= asset_pack_path("views/assets/images/profile.jpg") %>" alt="add">
                                        </div>
                                    </div>

                                <div class="form-wrap">
                                    <label>TTD</label>
                                    <div class="form-group">
                                        <div class="upload-image">
                                            <div class="custom-button">
                                                <label class="upload-img" for="file-input">
                                                <img src="<%= asset_pack_path("views/assets/images/ic_img.svg") %>" alt="add">
                                                </label>
                                                <input type="file" name="pic" id="file-input" accept="image/*">
                                            </div>
                                                <span>
                                                        <p>Upload PNG/JPG</p>
                                                        <p>Maks 512x512</p>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-solid-green" data-dismiss="modal">Create</button>
                      <button type="button" class="btn btn-transparent">Cancel</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="content">
              <span class="display-desc">
                <p>
                    Displaying Content 1 - 30 of 500 in total
                </p>
              </span>
            <div class="table">
              <table>
                <thead>
                    <tr>
                      <th>No</th>
                      <th>Nama</th>
                      <th>Email</th>
                      <th>Dikirim Tanggal</th>
                      <th></th>
                    </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="number bold">1</td>
                    <td class="name bold"><a href="detail_user_verification"><img src="<%= asset_pack_path("views/assets/images/profile.jpg") %>">Lilian Chu </a></td>
                    <td>lilian@pantaubersama.co.id</td>
                    <td>21/10/2023</td>

                    <td>      
                      <button class="dropdown-toggle" type="button" id="action" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img src="<%= asset_pack_path("views/assets/images/ic_action.svg") %>">
                      </button>
                      <div class="dropdown-menu" aria-labelledby="action">
                          <a class="dropdown-item" href="detail_user_verification">Lihat</a>
                          <a class="dropdown-item" href="#">Diterima</a>
                          <a class="dropdown-item" href="#">Ditolak</a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="number bold">2</td>
                    <td class="name bold"><a href="detail_user_verification"><img src="<%= asset_pack_path("views/assets/images/profile.jpg") %>">Lilian Chu </a></td>
                    <td>lilian@pantaubersama.co.id</td>
                    <td>21/10/2023</td>

                    <td>      
                      <button class="dropdown-toggle" type="button" id="action" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img src="<%= asset_pack_path("views/assets/images/ic_action.svg") %>">
                      </button>
                      <div class="dropdown-menu" aria-labelledby="action">
                          <a class="dropdown-item" href="detail_user_verification">Lihat</a>
                          <a class="dropdown-item" href="#">Diterima</a>
                          <a class="dropdown-item" href="#">Ditolak</a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="number bold">3</td>
                    <td class="name bold"><a href="detail_user_verification"><img src="<%= asset_pack_path("views/assets/images/profile.jpg") %>">Lilian Chu </a></td>
                    <td>lilian@pantaubersama.co.id</td>
                    <td>21/10/2023</td>

                    <td>      
                      <button class="dropdown-toggle" type="button" id="action" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img src="<%= asset_pack_path("views/assets/images/ic_action.svg") %>">
                      </button>
                      <div class="dropdown-menu" aria-labelledby="action">
                          <a class="dropdown-item" href="detail_user_verification">Lihat</a>
                          <a class="dropdown-item" href="#">Diterima</a>
                          <a class="dropdown-item" href="#">Ditolak</a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="number bold">4</td>
                    <td class="name bold"><a href="detail_user_verification"><img src="<%= asset_pack_path("views/assets/images/profile.jpg") %>">Lilian Chu </a></td>
                    <td>lilian@pantaubersama.co.id</td>
                    <td>21/10/2023</td>

                    <td>      
                      <button class="dropdown-toggle" type="button" id="action" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img src="<%= asset_pack_path("views/assets/images/ic_action.svg") %>">
                      </button>
                      <div class="dropdown-menu" aria-labelledby="action">
                          <a class="dropdown-item" href="detail_user_verification">Lihat</a>
                          <a class="dropdown-item" href="#">Diterima</a>
                          <a class="dropdown-item" href="#">Ditolak</a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="number bold">5</td>
                    <td class="name bold"><a href="detail_user_verification"><img src="<%= asset_pack_path("views/assets/images/profile.jpg") %>">Lilian Chu </a></td>
                    <td>lilian@pantaubersama.co.id</td>
                    <td>21/10/2023</td>

                    <td>      
                      <button class="dropdown-toggle" type="button" id="action" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img src="<%= asset_pack_path("views/assets/images/ic_action.svg") %>">
                      </button>
                      <div class="dropdown-menu" aria-labelledby="action">
                          <a class="dropdown-item" href="detail_user_verification">Lihat</a>
                          <a class="dropdown-item" href="#">Diterima</a>
                          <a class="dropdown-item" href="#">Ditolak</a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="number bold">6</td>
                    <td class="name bold"><a href="detail_user_verification"><img src="<%= asset_pack_path("views/assets/images/profile.jpg") %>">Lilian Chu </a></td>
                    <td>lilian@pantaubersama.co.id</td>
                    <td>21/10/2023</td>

                    <td>      
                      <button class="dropdown-toggle" type="button" id="action" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img src="<%= asset_pack_path("views/assets/images/ic_action.svg") %>">
                      </button>
                      <div class="dropdown-menu" aria-labelledby="action">
                          <a class="dropdown-item" href="detail_user_verification">Lihat</a>
                          <a class="dropdown-item" href="#">Diterima</a>
                          <a class="dropdown-item" href="#">Ditolak</a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="number bold">7</td>
                    <td class="name bold"><a href="detail_user_verification"><img src="<%= asset_pack_path("views/assets/images/profile.jpg") %>">Lilian Chu </a></td>
                    <td>lilian@pantaubersama.co.id</td>
                    <td>21/10/2023</td>

                    <td>      
                      <button class="dropdown-toggle" type="button" id="action" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img src="<%= asset_pack_path("views/assets/images/ic_action.svg") %>">
                      </button>
                      <div class="dropdown-menu" aria-labelledby="action">
                          <a class="dropdown-item" href="detail_user_verification">Lihat</a>
                          <a class="dropdown-item" href="#">Diterima</a>
                          <a class="dropdown-item" href="#">Ditolak</a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="number bold">8</td>
                    <td class="name bold"><a href="detail_user_verification"><img src="<%= asset_pack_path("views/assets/images/profile.jpg") %>">Lilian Chu </a></td>
                    <td>lilian@pantaubersama.co.id</td>
                    <td>21/10/2023</td>

                    <td>      
                      <button class="dropdown-toggle" type="button" id="action" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img src="<%= asset_pack_path("views/assets/images/ic_action.svg") %>">
                      </button>
                      <div class="dropdown-menu" aria-labelledby="action">
                          <a class="dropdown-item" href="detail_user_verification">Lihat</a>
                          <a class="dropdown-item" href="#">Diterima</a>
                          <a class="dropdown-item" href="#">Ditolak</a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="number bold">9</td>
                    <td class="name bold"><a href="detail_user_verification"><img src="<%= asset_pack_path("views/assets/images/profile.jpg") %>">Lilian Chu </a></td>
                    <td>lilian@pantaubersama.co.id</td>
                    <td>21/10/2023</td>

                    <td>      
                      <button class="dropdown-toggle" type="button" id="action" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img src="<%= asset_pack_path("views/assets/images/ic_action.svg") %>">
                      </button>
                      <div class="dropdown-menu" aria-labelledby="action">
                          <a class="dropdown-item" href="detail_user_verification">Lihat</a>
                          <a class="dropdown-item" href="#">Diterima</a>
                          <a class="dropdown-item" href="#">Ditolak</a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="number bold">10</td>
                    <td class="name bold"><a href="detail_user_verification"><img src="<%= asset_pack_path("views/assets/images/profile.jpg") %>">Lilian Chu </a></td>
                    <td>lilian@pantaubersama.co.id</td>
                    <td>21/10/2023</td>

                    <td>      
                      <button class="dropdown-toggle" type="button" id="action" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img src="<%= asset_pack_path("views/assets/images/ic_action.svg") %>">
                      </button>
                      <div class="dropdown-menu" aria-labelledby="action">
                          <a class="dropdown-item" href="detail_user_verification">Lihat</a>
                          <a class="dropdown-item" href="#">Diterima</a>
                          <a class="dropdown-item" href="#">Ditolak</a>
                      </div>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
            <div class="filter">
                <a class="btn " data-toggle="collapse" href="#filter" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <img src="<%= asset_pack_path("views/assets/images/ic_arrow-left.svg") %>">
                    <img src="<%= asset_pack_path("views/assets/images/ic_filter.svg") %>">
                  </a>
                <div class="collapse filter-form" id="filter">
                  <div class="card card-body">
                    <h4>Filter</h4>
                    <div class="filter-wrap">
                        <div class="form-wrap">
                          <label>User</label>
                          <div class="form-group">
                              <div class="form-group">
                                  <input type="nama" class="form-control" placeholder="Nama">
                                </div>
                            </div>
                        </div>
                      <div class="form-wrap">
                        <label>Email</label>
                        <div class="form-group">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="luna@gmail.com">
                              </div>
                          </div>
                      </div>
                    </div>


                    <div class="button-wrapper">
                          <button type="button" class="btn btn-solid-green" data-dismiss="modal">Done</button>
                          <button type="button" class="btn btn-transparent">Reset</button>
                      </div>
                  </div>
                </div>
            </div>
          </div>
        </div>

          <div class="main-content tab-pane" id="diterima">
                  <div class="top ">
                    <div class="pagination-wrap">
                        <ul class="pagination">
                            <li class="page-item">
                              <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><img src="<%= asset_pack_path("views/assets/images/ic_arrow-left.svg") %>" alt="Previous"></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active" aria-current="page">
                              <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                              <a class="page-link" href="#"><img src="<%= asset_pack_path("views/assets/images/ic_arrow_right.svg") %>" alt="Next"></a>
                            </li>
                          </ul>
                    </div>
                    <div class="modal-wrap">
                      <button type="button" class="btn btn-green" data-toggle="modal" data-target="#exampleModal">
                          Create Folder <img src="<%= asset_pack_path("views/assets/images/ic_create-admin.svg") %>" alt="add">
                        </button>
                        
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <!-- <h5 class="modal-title" id="exampleModalLabel">Tambah Admin</h5> -->
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <h3>Tambah Admin</h3>
                              <div class="form-wrap">
                                <label>User</label>
                                <div class="form-group"> 
                                    <div class="form-group">
                                        <input type="Email" class="form-control" placeholder="adellapratitas7@gmail.com">
                                      </div>
                                  </div>
                              </div>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-solid-green" data-dismiss="modal">Tambah</button>
                                <button type="button" class="btn btn-transparent">Cancel</button>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
                  <div class="content">
                      <span class="display-desc">
                        <p>
                            Displaying Content 1 - 30 of 500 in total
                        </p>
                      </span>
                    <div class="table">
                        <table>
                          <thead>
                              <tr>
                                <th>No</th>
                                <th>Nama</th>
                                <th>Jumlah Pertanyaan</th>
                                <th>Create At</th>
                                <th></th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                <td class="number bold">1</td>
                                <td class="name bold icon"><a href="detail-user.html"><img src="<%= asset_pack_path("views/assets/images/ic_folder.svg") %>">Folder A</a></td>
                                <td>100</td>
                                <td>21/10/2023</td>
                                <td>      
                                  <button class="dropdown-toggle" type="button" id="action" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      <img src="<%= asset_pack_path("views/assets/images/ic_action.svg") %>">
                                  </button>
                                  <div class="dropdown-menu" aria-labelledby="action">
                                      <a class="dropdown-item" href="#">Lihat</a>
                                      <a class="dropdown-item" href="#">Edit</a>
                                      <a class="dropdown-item" href="#">Hapus</a>
                                  </div>
                                </td>

                          </tbody>
                          </table>
                    </div>
                    <div class="filter">
                        <a class="btn " data-toggle="collapse" href="#filter1" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <img src="<%= asset_pack_path("views/assets/images/ic_arrow-left.svg") %>">
                            <img src="<%= asset_pack_path("views/assets/images/ic_filter.svg") %>">
                          </a>
                        <div class="collapse filter-form" id="filter1">
                          <div class="card card-body">
                            <h4>Filter</h4>
                              <div class="form-wrap">
                                <label>Status</label>
                                <div class="form-group">
                                    <select class="form-control" >
                                      <option>Terverifikasi</option>
                                      <option>2</option>
                                      <option>3</option>
                                      <option>4</option>
                                      <option>5</option>
                                    </select>
                                  </div>
                              </div>
                              <div class="form-wrap">
                                <label>User</label>
                                <div class="form-group">
                                    <div class="form-group">
                                        <input type="nama" class="form-control" placeholder="Nama">
                                      </div>
                                  </div>
                              </div>
                            </div>
                            <div class="form-wrap">
                              <label>Email</label>
                              <div class="form-group">
                                  <div class="form-group">
                                      <input type="email" class="form-control" placeholder="luna@gmail.com">
                                    </div>
                                </div>
                            </div>
                            <div class="form-wrap">
                              <label>Cluster</label>
                              <div class="form-group">
                                  <div class="form-group">
                                      <input type="cluster" class="form-control" placeholder="Nama Cluster">
                                    </div>
                                </div>
                            </div>
                          </div>
                        </div>
                    </div>
          </div>

          <div class="main-content tab-pane" id="ditolak">
                  <div class="top ">
                    <div class="pagination-wrap">
                        <ul class="pagination">
                            <li class="page-item">
                              <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><img src="<%= asset_pack_path("views/assets/images/ic_arrow-left.svg") %>" alt="Previous"></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active" aria-current="page">
                              <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                              <a class="page-link" href="#"><img src="<%= asset_pack_path("views/assets/images/ic_arrow_right.svg") %>" alt="Next"></a>
                            </li>
                          </ul>
                    </div>
                    <div class="modal-wrap">
                      <button type="button" class="btn btn-green" data-toggle="modal" data-target="#exampleModal">
                          Create Folder <img src="<%= asset_pack_path("views/assets/images/ic_create-admin.svg") %>" alt="add">
                        </button>
                        
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <!-- <h5 class="modal-title" id="exampleModalLabel">Tambah Admin</h5> -->
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <h3>Tambah Admin</h3>
                              <div class="form-wrap">
                                <label>User</label>
                                <div class="form-group"> 
                                    <div class="form-group">
                                        <input type="Email" class="form-control" placeholder="adellapratitas7@gmail.com">
                                      </div>
                                  </div>
                              </div>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-solid-green" data-dismiss="modal">Tambah</button>
                                <button type="button" class="btn btn-transparent">Cancel</button>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
                  <div class="content">
                      <span class="display-desc">
                        <p>
                            Displaying Content 1 - 30 of 500 in total
                        </p>
                      </span>
                    <div class="table">
                        <table>
                          <thead>
                              <tr>
                                <th>No</th>
                                <th>Nama</th>
                                <th>Jumlah Pertanyaan</th>
                                <th>Create At</th>
                                <th></th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                <td class="number bold">1</td>
                                <td class="name bold icon"><a href="detail-user.html"><img src="<%= asset_pack_path("views/assets/images/ic_folder.svg") %>">Folder A</a></td>
                                <td>100</td>
                                <td>21/10/2023</td>
                                <td>      
                                  <button class="dropdown-toggle" type="button" id="action" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      <img src="<%= asset_pack_path("views/assets/images/ic_action.svg") %>">
                                  </button>
                                  <div class="dropdown-menu" aria-labelledby="action">
                                      <a class="dropdown-item" href="#">Lihat</a>
                                      <a class="dropdown-item" href="#">Edit</a>
                                      <a class="dropdown-item" href="#">Hapus</a>
                                  </div>
                                </td>
                              </tr>

                          </tbody>
                          </table>
                    </div>
                    <div class="filter">
                        <a class="btn " data-toggle="collapse" href="#filter2" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <img src="<%= asset_pack_path("views/assets/images/ic_arrow-left.svg") %>">
                            <img src="<%= asset_pack_path("views/assets/images/ic_filter.svg") %>">
                          </a>
                        <div class="collapse filter-form" id="filter2">
                          <div class="card card-body">
                            <h4>Filter</h4>
                              <div class="form-wrap">
                                <label>Status</label>
                                <div class="form-group">
                                    <select class="form-control" >
                                      <option>Terverifikasi</option>
                                      <option>2</option>
                                      <option>3</option>
                                      <option>4</option>
                                      <option>5</option>
                                    </select>
                                  </div>
                              </div>
                              <div class="form-wrap">
                                <label>User</label>
                                <div class="form-group">
                                    <div class="form-group">
                                        <input type="nama" class="form-control" placeholder="Nama">
                                      </div>
                                  </div>
                              </div>
                            </div>
                            <div class="form-wrap">
                              <label>Email</label>
                              <div class="form-group">
                                  <div class="form-group">
                                      <input type="email" class="form-control" placeholder="luna@gmail.com">
                                    </div>
                                </div>
                            </div>
                            <div class="form-wrap">
                              <label>Cluster</label>
                              <div class="form-group">
                                  <div class="form-group">
                                      <input type="cluster" class="form-control" placeholder="Nama Cluster">
                                    </div>
                                </div>
                            </div>
                          </div>
                        </div>
                    </div>
          </div>
        </div>
        </div>
    </main>
</div>
</div>
<%= render("components/footer") %>