<div class="d-flex main-wrapper">
  <%= render("components/sidebar") %>
  <div class="main-wrapper">
    <main class="main col-md-10 offset-md-2" role="main">
      <header class="header" role="banner">
        <div class="tabs">
          <ul class="nav nav-pills">
            <li class="active"><a href="#tertunda" data-toggle="tab">Tertunda</a>
            </li>
            <li><a href="#diterima" data-toggle="tab">Diterima</a>
            </li>
            <li><a href="#ditolak" data-toggle="tab">Ditolak</a>
            </li>
          </ul>
        </div>
        <%= render("components/dropdown_profile") %>
      </header>
      <div class="tab-content clearfix">
        <div class="main-content verification tab-pane active" id="tertunda">
          <div class="top ">
            <% link = pagy_link_proc(@pagy_users_requested) %>
            <div class="pagination-wrap">
              <ul class="pagination">
                <% if @pagy_users_requested.prev %>
                <li class="page-item">
                  <%== link.call(@pagy_users_requested.prev, pagy_t('pagy.nav.prev')) %>
                </li>
                <% else  %>
                <li class="page-item disabled">
                  <%== link.call(@pagy_users_requested.prev, pagy_t('pagy.nav.prev')) %>
                </li>
                <% end %>

                <% @pagy_users_requested.series.each do |item| %>
                <% if item.is_a?(Integer) %>
                <li id="testtest" class="page-item">
                  <%== link.call(item) %>
                </li>
                <% elsif item.is_a?(String) %>
                <li class="page-item active" aria-current="page">
                  <%== link.call(item) %>
                </li>
                <% elsif item == :gap %>
                <li class="page-item disabled gap"><a href="#" class="page-link">
                    <%== pagy_t('pagy.nav.gap') %></a></li>
                <% end %>
                <% end %>

                <% if @pagy_users_requested.next %>
                <li class="page-item">
                  <%== link.call(@pagy_users_requested.next, pagy_t('pagy.nav.next')) %>
                </li>
                <% else %>
                <li class="page-item disabled">
                  <%== link.call(@pagy_users_requested.next, pagy_t('pagy.nav.next')) %>
                </li>
                <% end %>
              </ul>
            </div>
            <div class="modal-wrap">
              <button type="button" class="btn btn-green" data-toggle="modal" data-target="#exampleModal">
                Tambah User Verification <img src="<%= asset_pack_path("views/assets/images/ic_create-admin.svg") %>"
                alt="add">
              </button>

              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <h3>Tambah User Verification</h3>
                      <div class="row">
                        <div class="col-md-6 col-sm-12">
                          <div class="form-wrap">
                            <label>Email</label>
                            <div class="form-group">
                              <div class="form-group">
                                <input type="Email" class="form-control" placeholder="Email">
                              </div>
                            </div>
                          </div>

                          <div class="form-wrap">
                            <label>Foto Wajah Beserta KTP</label>
                            <div class="form-group">
                              <div class="upload-image">
                                <div class="custom-button">
                                  <label class="upload-img" for="file-input">
                                    <img src="assets/img/ic_img.svg" alt="add">
                                  </label>
                                  <input type="file" name="pic" id="file-input" accept="image/*">
                                </div>
                                <span>
                                  <p>Upload PNG/JPG</p>
                                  <p>Maks 512x512</p>
                                </span>
                              </div>
                            </div>
                          </div>

                          <div class="form-wrap">
                            <label>KTP</label>
                            <div class="form-group">
                              <div class="upload-image">
                                <div class="custom-button">
                                  <label class="upload-img" for="file-input">
                                    <img src="assets/img/ic_img.svg" alt="add">
                                  </label>
                                  <input type="file" name="pic" id="file-input" accept="image/*">
                                </div>
                                <span>
                                  <p>Upload PNG/JPG</p>
                                  <p>Maks 512x512</p>
                                </span>
                              </div>
                            </div>
                          </div>

                        </div>
                        <div class="col-md-6 col-sm-12">
                          <div class="form-wrap">
                            <label>No. KTP</label>
                            <div class="form-group">
                              <div class="form-group">
                                <input type="Email" class="form-control" placeholder="No KTP">
                              </div>
                            </div>
                          </div>

                          <div class="form-wrap example">
                            <label>Contoh</label>
                            <div class="form-group">
                              <img src="assets/img/profile.jpg" alt="add">
                            </div>
                          </div>

                          <div class="form-wrap">
                            <label>TTD</label>
                            <div class="form-group">
                              <div class="upload-image">
                                <div class="custom-button">
                                  <label class="upload-img" for="file-input">
                                    <img src="assets/img/ic_img.svg" alt="add">
                                  </label>
                                  <input type="file" name="pic" id="file-input" accept="image/*">
                                </div>
                                <span>
                                  <p>Upload PNG/JPG</p>
                                  <p>Maks 512x512</p>
                                </span>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-solid-green" data-dismiss="modal">Create</button>
                      <button type="button" class="btn btn-transparent">Cancel</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="content">
            <span class="display-desc">
              <p>
              </p>
            </span>
            <div class="col-md-12">
              <% flash.each do |key, value| %>
              <div class="alert alert-<%= key %>">
                <%= value %>
              </div>
              <% end %>
            </div>
            <div class="table">
              <table>
                <thead>
                  <tr>
                    <th>No</th>
                    <th>Nama</th>
                    <th>Email</th>
                    <th>Dikirim Tanggal</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>


                  <% @users_requested.each_with_index do |user, index| %>
                  <tr>
                    <td class="number bold">
                      <%= ((params[:page_user_requested].present? ? params[:page_user_requested].to_i : 1) - 1) * Pagy::VARS[:items] + index+1 %>
                    </td>
                    <td class="name bold">
                      <%= link_to  show_user_verification_path(user['id']) do %>
                      <%= image_tag user['avatar']['medium_square']['url'] unless user['avatar']['medium_square']['url'].nil? %>
                      <%= user['full_name'] %>
                      <% end %>
                    </td>
                    <td>
                      <%= user['email'] %>
                    </td>
                    <td>
                      <%= user['sent_at_verification'].nil? ? '' : Date.parse(user['sent_at_verification']) %>
                    </td>
                    <td class="image">
                      <% if user['verified'] %>
                      <img src="<%= asset_pack_path("views/assets/images/ic_status.svg") %>"/>
                      <% end %>
                    </td>
                    <td>
                      <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <img src="<%= asset_pack_path("views/assets/images/ic_action.svg") %>">
                      </button>
                      <div class="dropdown-menu" aria-labelledby="action">
                        <%= link_to 'Lihat', show_user_verification_path(user['id']), class: 'dropdown-item' %>
                      </div>
                    </td>
                  </tr>
                  <% end %>


                </tbody>
              </table>
              <div class="filter">
                <a class="btn " data-toggle="collapse" href="#filter_ditunda" role="button" aria-expanded="false"
                  aria-controls="collapseExample">
                  <img src="<%= asset_pack_path("views/assets/images/ic_arrow-left.svg") %>">
                  <img src="<%= asset_pack_path("views/assets/images/ic_filter.svg") %>">
                </a>
                <div class="collapse filter-form" id="filter_ditunda">
                  <div class="card card-body">
                    <h4>Filter</h4>
                    <%= form_tag(users_list_verification_path, method: :get) do %>
                    <div class="form-wrap">
                      <label>User</label>
                      <div class="form-group">
                        <div class="form-group">
                          <%= text_field_tag :nama_ditunda, params[:nama_ditunda].present? ? params[:nama_ditunda] : '', class: 'form-control', placeholder: 'Nama' %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-wrap">
                    <label>Email</label>
                    <div class="form-group">
                      <div class="form-group">
                        <%= text_field_tag :email_ditunda, params[:email_ditunda].present? ? params[:email_ditunda] : '', class: 'form-control', placeholder: '' %>
                      </div>
                    </div>
                  </div>
                  <button> Done</button>
                  <button data-toggle="collapse" href="#filter" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Cancel</button>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <%# </div> %>
  <%# </div> %>

  <div class="main-content tab-pane" id="diterima">
    <div class="top ">
      <% link = pagy_link_proc(@pagy_users_accepted) %>
      <div class="pagination-wrap">
        <ul class="pagination">
          <% if @pagy_users_accepted.prev %>
          <li class="page-item">
            <%== link.call(@pagy_users_accepted.prev, pagy_t('pagy.nav.prev')) %>
          </li>
          <% else  %>
          <li class="page-item disabled">
            <%== link.call(@pagy_users_accepted.prev, pagy_t('pagy.nav.prev')) %>
          </li>
          <% end %>

          <% @pagy_users_accepted.series.each do |item| %>
          <% if item.is_a?(Integer) %>
          <li id="testtest" class="page-item">
            <%== link.call(item) %>
          </li>
          <% elsif item.is_a?(String) %>
          <li class="page-item active" aria-current="page">
            <%== link.call(item) %>
          </li>
          <% elsif item == :gap %>
          <li class="page-item disabled gap"><a href="#" class="page-link">
              <%== pagy_t('pagy.nav.gap') %></a></li>
          <% end %>
          <% end %>

          <% if @pagy_users_accepted.next %>
          <li class="page-item">
            <%== link.call(@pagy_users_accepted.next, pagy_t('pagy.nav.next')) %>
          </li>
          <% else %>
          <li class="page-item disabled">
            <%== link.call(@pagy_users_accepted.next, pagy_t('pagy.nav.next')) %>
          </li>
          <% end %>
        </ul>
      </div>
      <div class="modal-wrap">
        <button type="button" class="btn btn-green" data-toggle="modal" data-target="#modalAddUserVerification">
          Tambah User Verification <img src="<%= asset_pack_path("views/assets/images/ic_create-admin.svg") %>"
          alt="add">
        </button>

        <div class="modal fade" id="modalAddUserVerification" tabindex="-1" role="dialog" aria-labelledby="modalAddUserVerificationLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <!-- <h5 class="modal-title" id="exampleModalLabel">Tambah Admin</h5> -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <h3>Tambah Admin</h3>
                <div class="form-wrap">
                  <label>User</label>
                  <div class="form-group">
                    <div class="form-group">
                      <input type="Email" class="form-control" placeholder="adellapratitas7@gmail.com">
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-solid-green" data-dismiss="modal">Tambah</button>
                <button type="button" class="btn btn-transparent">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <span class="display-desc">
        <p>
        </p>
      </span>
      <div class="table">
        <table>
          <thead>
            <tr>
              <th>No</th>
              <th>Nama</th>
              <th>Email</th>
              <th>Dikirim Tanggal</th>
              <th></th>
            </tr>
          </thead>
          <tbody>


            <% @users_accepted.each_with_index do |user, index| %>
            <tr>
              <td class="number bold">
                <%= ((params[:page_user_accepted].present? ? params[:page_user_accepted].to_i : 1) - 1) * Pagy::VARS[:items] + index+1 %>
              </td>
              <td class="name bold">
                <%= link_to  show_user_verification_path(user['id']) do %>
                <%= image_tag user['avatar']['medium_square']['url'] unless user['avatar']['medium_square']['url'].nil? %>
                <%= user['full_name'] %>
                <% end %>
              </td>
              <td>
                <%= user['email'] %>
              </td>
              <td>
                <%= user['sent_at_verification'].nil? ? '' : Date.parse(user['sent_at_verification']) %>
              </td>
              <td>
                <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img src="<%= asset_pack_path("views/assets/images/ic_action.svg") %>">
                </button>
                <div class="dropdown-menu" aria-labelledby="action">
                  <%= link_to 'Lihat', show_user_verification_path(user['id']), class: 'dropdown-item' %>

                </div>
              </td>
            </tr>
            <% end %>


          </tbody>
        </table>


      </div>
      <div class="filter">
        <a class="btn " data-toggle="collapse" href="#filter_diterima" role="button" aria-expanded="false"
          aria-controls="collapseExample">
          <%= image_tag asset_pack_path("views/assets/images/ic_arrow-left.svg") %>
          <%= image_tag asset_pack_path("views/assets/images/ic_filter.svg") %>
        </a>
        <div class="collapse filter-form" id="filter_diterima">
          <div class="card card-body">
            <h4>Filter</h4>
            <%= form_tag(users_list_verification_path, method: :get) do %>
            <div class="form-wrap">
              <label>User</label>
              <div class="form-group">
                <div class="form-group">
                  <%= text_field_tag :nama_diterima, params[:nama_diterima].present? ? params[:nama_diterima] : '', class: 'form-control', placeholder: 'Nama' %>
                </div>
              </div>
            </div>
          </div>
          <div class="form-wrap">
            <label>Email</label>
            <div class="form-group">
              <div class="form-group">
                <%= text_field_tag :email_diterima, params[:email_diterima].present? ? params[:email_diterima] : '', class: 'form-control', placeholder: '' %>
              </div>
            </div>
          </div>
          <button> Done</button>
          <button data-toggle="collapse" href="#filter" role="button" aria-expanded="false" aria-controls="collapseExample">
            Cancel</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="main-content tab-pane" id="ditolak">
    <div class="top ">
      <% link = pagy_link_proc(@pagy_users_rejected) %>
      <div class="pagination-wrap">
        <ul class="pagination">
          <% if @pagy_users_rejected.prev %>
          <li class="page-item">
            <%== link.call(@pagy_users_rejected.prev, pagy_t('pagy.nav.prev')) %>
          </li>
          <% else  %>
          <li class="page-item disabled">
            <%== link.call(@pagy_users_rejected.prev, pagy_t('pagy.nav.prev')) %>
          </li>
          <% end %>

          <% @pagy_users_rejected.series.each do |item| %>
          <% if item.is_a?(Integer) %>
          <li id="testtest" class="page-item">
            <%== link.call(item) %>
          </li>
          <% elsif item.is_a?(String) %>
          <li class="page-item active" aria-current="page">
            <%== link.call(item) %>
          </li>
          <% elsif item == :gap %>
          <li class="page-item disabled gap"><a href="#" class="page-link">
              <%== pagy_t('pagy.nav.gap') %></a></li>
          <% end %>
          <% end %>

          <% if @pagy_users_rejected.next %>
          <li class="page-item">
            <%== link.call(@pagy_users_rejected.next, pagy_t('pagy.nav.next')) %>
          </li>
          <% else %>
          <li class="page-item disabled">
            <%== link.call(@pagy_users_rejected.next, pagy_t('pagy.nav.next')) %>
          </li>
          <% end %>
        </ul>
      </div>
      <div class="modal-wrap">
        <button type="button" class="btn btn-green" data-toggle="modal" data-target="#exampleModal">
          Tambah User Verification <img src="<%= asset_pack_path("views/assets/images/ic_create-admin.svg") %>"
          alt="add">
        </button>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <!-- <h5 class="modal-title" id="exampleModalLabel">Tambah Admin</h5> -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <h3>Tambah Admin</h3>
                <div class="form-wrap">
                  <label>User</label>
                  <div class="form-group">
                    <div class="form-group">
                      <input type="Email" class="form-control" placeholder="adellapratitas7@gmail.com">
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-solid-green" data-dismiss="modal">Tambah</button>
                <button type="button" class="btn btn-transparent">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <span class="display-desc">
        <p>
        </p>
      </span>
      <div class="table">
        <table>
          <thead>
            <tr>
              <th>No</th>
              <th>Nama</th>
              <th>Email</th>
              <th>Dikirim Tanggal</th>
              <th></th>
            </tr>
          </thead>
          <tbody>


            <% @users_rejected.each_with_index do |user, index| %>
            <tr>
              <td class="number bold">
                <%= ((params[:page_user_rejected].present? ? params[:page_user_rejected].to_i : 1) - 1) * Pagy::VARS[:items] + index+1 %>
              </td>
              <td class="name bold">
                <%= link_to  show_user_verification_path(user['id']) do %>
                <%= image_tag user['avatar']['medium_square']['url'] unless user['avatar']['medium_square']['url'].nil? %>
                <%= user['full_name'] %>
                <% end %>
              </td>
              <td>
                <%= user['email'] %>
              </td>
              <td>
                <%= user['sent_at_verification'].nil? ? '' : Date.parse(user['sent_at_verification']) %>
              </td>
              <td>
                <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img src="<%= asset_pack_path("views/assets/images/ic_action.svg") %>">
                </button>
                <div class="dropdown-menu" aria-labelledby="action">
                  <%= link_to 'Lihat', show_user_verification_path(user['id']), class: 'dropdown-item' %>

                </div>
              </td>
            </tr>
            <% end %>


          </tbody>
        </table>


      </div>
      <div class="filter">
        <a class="btn " data-toggle="collapse" href="#filter_ditolak" role="button" aria-expanded="false" aria-controls="collapseExample">
          <%= image_tag asset_pack_path("views/assets/images/ic_arrow-left.svg")  %>
          <%= image_tag asset_pack_path("views/assets/images/ic_filter.svg")  %>
        </a>
        <div class="collapse filter-form" id="filter_ditolak">
          <div class="card card-body">
            <h4>Filter</h4>
            <%= form_tag(users_list_verification_path, method: :get) do %>
            <div class="form-wrap">
              <label>User</label>
              <div class="form-group">
                <div class="form-group">
                  <%= text_field_tag :nama_ditolak, params[:nama_ditolak].present? ? params[:nama_ditolak] : '', class: 'form-control', placeholder: 'Nama' %>
                </div>
              </div>
            </div>
          </div>
          <div class="form-wrap">
            <label>Email</label>
            <div class="form-group">
              <div class="form-group">
                <%= text_field_tag :email_ditolak, params[:email_ditolak].present? ? params[:email_ditolak] : '', class: 'form-control', placeholder: '' %>
              </div>
            </div>
          </div>
          <button> Done</button>
          <button data-toggle="collapse" href="#filter" role="button" aria-expanded="false" aria-controls="collapseExample">
            Cancel</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</main>
</div>
</div>
<%= render("components/footer") %>