<div class="pb-wrapper">
  <%= render("components/sidebar") %>
  <main class="main" role="main">
    <header class="header" role="banner">
      <%= render("components/dropdown_profile") %>
    </header>
    <div class="main-content">
      <div class="top">
        <% link = pagy_link_proc(@pagy_users) %>
        <div class="pagination-wrap">
          <ul class="pagination">
            <% if @pagy_users.prev %>
              <li class="page-item">
                  <%== link.call(@pagy_users.prev, pagy_t('pagy.nav.prev')) %>
              </li>
            <% else  %>
              <li class="page-item disabled">
                  <%== link.call(@pagy_users.prev, pagy_t('pagy.nav.prev')) %>
              </li>
            <% end %>

            <% @pagy_users.series.each do |item| %>
              <% if item.is_a?(Integer) %>
                  <li id="testtest" class="page-item"><%== link.call(item) %></li>
              <% elsif item.is_a?(String) %>
                  <li class="page-item active" aria-current="page"><%== link.call(item) %></li>
              <% elsif item == :gap %>
                  <li class="page-item disabled gap"><a href="#" class="page-link"><%== pagy_t('pagy.nav.gap') %></a></li>
                <% end %>
            <% end %>

            <% if @pagy_users.next %>
              <li class="page-item"><%== link.call(@pagy_users.next, pagy_t('pagy.nav.next')) %></li>
            <% else %>
              <li class="page-item disabled"><%== link.call(@pagy_users.next, pagy_t('pagy.nav.next')) %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="content">
        <span class="display-desc">
          <p>
          </p>
        </span>
        <div class="col-md-12">
          <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>">
            <%= value %>
          </div>
          <% end %>
        </div>
        <span class="display-desc">
          <p>
              <%= show_count_table(params[:page_user], @total_row_per_page, @total_users) %>
          </p>
        </span>
        <div class="table">
          <table>
            <thead>
              <tr>
                <th>No</th>
                <th>Nama</th>
                <th>Cluster</th>
                <th>Email</th>
                <th>Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @users.each_with_index do |user, index| %>
              <tr>
                <td class="number bold">
                  <%= ((params[:page_user].present? ? params[:page_user].to_i : 1) - 1) * Pagy::VARS[:items] + index+1 %>
                </td>
                <td class="name bold">
                  <%= link_to  user_show_path(user['id']) do %>
                    <%= image_tag user['avatar']['medium_square']['url'] unless user['avatar']['medium_square']['url'].nil? %>
                    <%= user['full_name'] %>
                  <% end %>
                </td>
                <td>
                  <%= user['cluster']['name'] %>
                </td>
                <td>
                  <%= user['email'] %>
                </td>
                <td class="image">
                  <% if user['verified'] %>
                  <img src="<%= asset_pack_path("views/assets/images/ic_status.svg") %>"/>
                  <% else %>
                  <img src="<%= asset_pack_path("views/assets/images/ic_status_nonactive.png") %>"/>
                  <% end %>
                </td>
                <td>
                  <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <img src="<%= asset_pack_path("views/assets/images/ic_action.svg") %>">
                  </button>
                  <div class="dropdown-menu" aria-labelledby="action">
                    <%= link_to 'Lihat', user_show_path(user['id']), class: 'dropdown-item' %>
                  </div>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="filter">
          <a class="btn collapsed" data-toggle="collapse" href="#filter" role="button" aria-expanded="false" aria-controls="collapseExample">
            <img src="<%= asset_pack_path("views/assets/images/ic_arrow-left.svg") %>">
            <img src="<%= asset_pack_path("views/assets/images/ic_filter.svg") %>">
          </a>
          <div id="filter" class="collapse filter-form">
            <div class="card card-body">
              <h4>Filter</h4>
              <div class="form-wrap">
              <%= form_tag(users_list_user_path, method: :get) do %>
                <label>Status</label>
                <div class="form-group">
                  <%= select_tag(:verified, options_for_select([
                      ['', ''],
                      ['Terverifikasi', 'verified_true'],
                      ['Belum Terverifikasi', 'verified_false'],
                      ['Semua', 'verified_all']
                    ], params[:verified]), class: 'form-control') %>
                </div>
              </div>
              <div class="form-wrap">
                <label>User</label>
                <div class="form-group">
                  <div class="form-group">
                    <%= text_field_tag :nama, params[:nama].present? ? params[:nama] : '', class: 'form-control', placeholder: 'Nama' %>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-wrap">
              <label>Email</label>
              <div class="form-group">
                <div class="form-group">
                  <%= text_field_tag :email, params[:email].present? ? params[:email] : '', class: 'form-control', placeholder: 'myusuf@extrainteger.com' %>
                </div>
              </div>
            </div>
            <div class="form-wrap">
              <label>Cluster</label>
              <div class="form-group">
                <div class="form-group">
                  <%= text_field_tag :cluster, params[:cluster].present? ? params[:cluster] : '', class: 'form-control', placeholder: 'Nama Cluster' %>
                </div>
              </div>
            </div>

            <div class="button-wrapper">
              <button type="submit" class="btn btn-solid-green" data-dismiss="modal">Done</button>
              <%= link_to users_list_user_path do %>
              <button type="reset" class="btn btn-transparent reset">Reset</button>
              <% end %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
<%= render("components/footer") %>