<div class="d-flex main-wrapper">
  <%= render("components/sidebar") %>
  <div class="main-wrapper">
    <main class="main col-md-10 offset-md-2" role="main">
      <header class="header" role="banner">
        <%= render("components/dropdown_profile") %>
      </header>
      <div class="main-content">
        <div class="top">
          <div class="btn-back">
            <%= link_to request.referer do %>
              <img src="<%= asset_pack_path("views/assets/images/ic_back.svg") %>"> Back
            <% end %>
          </div>
        </div>
        <div class="content">
          <span class="display-desc">
            <p>
            </p>
          </span>
          <div class="bg-white detail-profile">
            <div class="card">
                <span class="profile-image">
                </span>
                <div class="right-desc">
                    <p>Created at : 21/10/2023</p>
                    <button class="btn btn-green">DITOLAK</button>
                    <button class="btn btn-solid-green">DITERIMA</button>
                </div>
            </div>

            <div class="card-form">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-wrap">
                            <label>Email</label>
                            <div class="form-group">
                                <div class="form-group">
                                    <input type="Email" class="form-control" placeholder="Email" value="">
                                  </div>
                              </div>
                        </div>

                        <div class="form-wrap">
                            <label>Foto Wajah Beserta KTP</label>
                            <div class="form-group">
                                <img src="assets/img/profile.jpg">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-wrap">
                                    <label>KTP</label>
                                    <div class="modal-wrap">
                                      <button type="button" class="btn btn-green" data-toggle="modal" data-target="#exampleModal">
                                        <img src="assets/img/profile.jpg">
                                        </button>

                                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                          <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <!-- <h5 class="modal-title" id="exampleModalLabel">Tambah Admin</h5> -->
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                                </button>
                                              </div>
                                              <div class="modal-body">
                                                    <img src="assets/img/profile.jpg">
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-sm-6 col-xs-12">
                                    <div class="form-wrap">
                                        <label>Tanda Tangan</label>
                                        <div class="form-group">
                                            <img src="assets/img/profile.jpg">
                                        </div>
                                    </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-wrap">
                            <label>No KTP</label>
                            <div class="form-group">
                                <div class="form-group">
                                    <input type="Kategori" class="form-control" placeholder="Pendidikan">
                                  </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </main>
  </div>
</div>
<%= render("components/footer") %>